pkgbase = purple-skypeweb
	pkgdesc = SkypeWeb Plugin for Pidgin
	pkgver = 1.7.r20.5daf79d
	pkgrel = 1
	url = https://github.com/EionRobb/skype4pidgin/tree/master/skypeweb
	arch = x86_64
	license = GPL3
	makedepends = git
	depends = libpurple
	depends = json-glib
	source = skype4pidgin::git+https://github.com/EionRobb/skype4pidgin
	sha256sums = SKIP

pkgname = purple-skypeweb
