pkgbase = lib32-vkbasalt
	pkgdesc = A Vulkan post-processing layer. Some of the effects are CAS, FXAA, SMAA, deband.
	pkgver = 0.3.2.10
	pkgrel = 1
	url = https://github.com/DadSchoorse/vkBasalt
	arch = x86_64
	license = zlib
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = spirv-headers
	makedepends = vulkan-headers
	depends = lib32-gcc-libs
	depends = glslang
	depends = lib32-libx11
	depends = lib32-glibc
	depends = vkbasalt
	source = git+https://github.com/DadSchoorse/vkBasalt.git#tag=v0.3.2.10
	sha256sums = 9ff099c515e29d2acfbd5d328c5abedf56fd53d50b9b1380d41b41e3be8504fc

pkgname = lib32-vkbasalt
