pkgbase = dhewm3
	pkgdesc = Doom 3 engine with native 64-bit support, SDL, and OpenAL
	pkgver = 1.5.2
	pkgrel = 4
	url = https://github.com/dhewm/dhewm3
	install = dhewm3.install
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	depends = curl
	depends = libjpeg
	depends = libvorbis
	depends = openal
	depends = sdl2
	optdepends = doom3-data: packaged game data files
	optdepends = pyside6: for the included launcher script
	optdepends = python-pyxdg: for the included launcher script
	optdepends = mergerfs: required by the included launcher script to setup the correct file structure
	options = !lto
	source = git+https://github.com/dhewm/dhewm3.git#tag=1.5.2
	source = dhewm3-launcher
	sha256sums = ceeb46ccb4b43006b5506794b6f1b7873447d11b1efaf2c44236c34ee288ad4b
	sha256sums = 0ca160bc573053b8616dbac452cb05c44bb7f9578685f79d7880be6145a16a6c

pkgname = dhewm3
