[submodule "local/readline7"]
	path = local/readline7
	url = https://aur.archlinux.org/readline7.git
[submodule "local/readline6"]
	path = local/readline6
	url = https://aur.archlinux.org/readline6.git
