pkgbase = shelly
	pkgdesc = Shelly: A Modern Arch Package Manager
	pkgver = 1.4.13
	pkgrel = 1
	url = https://github.com/ZoeyErinBauer/Shelly-ALPM
	arch = x86_64
	license = GPL-3.0-only
	makedepends = dotnet-sdk-10.0
	depends = brotli
	depends = bzip2
	depends = expat
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = graphite
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = icu
	depends = libdisplay-info
	depends = libdrm
	depends = libedit
	depends = libice
	depends = libpng
	depends = libtirpc
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcrypt
	depends = libxcursor
	depends = libxdmcp
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxrandr
	depends = libxrender
	depends = libxshmfence
	depends = ncurses
	depends = pacman
	depends = pcre2
	depends = sh
	depends = sudo
	depends = tar
	depends = util-linux
	depends = vulkan-driver
	depends = xcb-util-keysyms
	depends = xdg-utils
	depends = zlib
	optdepends = flatpak
	source = shelly-1.4.13.tar.gz::https://github.com/ZoeyErinBauer/Shelly-ALPM/archive/v1.4.13.tar.gz
	sha256sums = b8a284a2faa90155c934162b87211eb834aa7877023844ea94668c3575c2b7d4

pkgname = shelly
