pkgbase = proton-experimental
	pkgdesc = Compatibility tool for Steam Play based on Wine and additional components, experimental branch
	pkgver = 9.0.20240503.2
	pkgrel = 1
	epoch = 1
	url = https://github.com/ValveSoftware/Proton
	install = proton-experimental.install
	arch = x86_64
	arch = x86_64_v3
	license = custom
	makedepends = autoconf
	makedepends = bison
	makedepends = perl
	makedepends = flex
	makedepends = mingw-w64-gcc
	makedepends = git
	makedepends = wget
	makedepends = rsync
	makedepends = unzip
	makedepends = mingw-w64-tools
	makedepends = lld
	makedepends = nasm
	makedepends = meson
	makedepends = cmake
	makedepends = fontforge
	makedepends = afdko
	makedepends = python-pefile
	makedepends = glslang
	makedepends = vulkan-headers
	makedepends = clang
	makedepends = giflib
	makedepends = lib32-giflib
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = libxinerama
	makedepends = lib32-libxinerama
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = v4l-utils
	makedepends = lib32-v4l-utils
	makedepends = alsa-lib
	makedepends = lib32-alsa-lib
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mesa-libgl
	makedepends = lib32-mesa-libgl
	makedepends = opencl-icd-loader
	makedepends = lib32-opencl-icd-loader
	makedepends = libpulse
	makedepends = lib32-libpulse
	makedepends = gtk3
	makedepends = lib32-gtk3
	makedepends = gst-plugins-base-libs
	makedepends = lib32-gst-plugins-base-libs
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = rust
	makedepends = lib32-rust-libs
	makedepends = libgphoto2
	makedepends = opencl-headers
	depends = attr
	depends = lib32-attr
	depends = fontconfig
	depends = lib32-fontconfig
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxrandr
	depends = lib32-libxrandr
	depends = libxi
	depends = lib32-libxi
	depends = gettext
	depends = lib32-gettext
	depends = freetype2
	depends = lib32-freetype2
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = libpcap
	depends = lib32-libpcap
	depends = lzo
	depends = lib32-lzo
	depends = libxkbcommon
	depends = lib32-libxkbcommon
	depends = libvpx
	depends = lib32-libvpx
	depends = sdl2
	depends = lib32-sdl2
	depends = libsoup
	depends = lib32-libsoup
	depends = libgudev
	depends = lib32-libgudev
	depends = desktop-file-utils
	depends = python
	depends = steam-native-runtime
	depends = wayland
	depends = lib32-wayland
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = libgphoto2
	provides = proton
	noextract = wine-gecko-2.47.4-x86.tar.xz
	noextract = wine-gecko-2.47.4-x86_64.tar.xz
	noextract = wine-mono-9.1.0-x86.tar.xz
	noextract = xalia-0.4.1-net48-mono.zip
	options = !staticlibs
	options = !lto
	options = !debug
	options = emptydirs
	source = proton::git+https://github.com/ValveSoftware/Proton.git#tag=experimental-9.0-20240503b
	source = https://dl.winehq.org/wine/wine-gecko/2.47.4/wine-gecko-2.47.4-x86.tar.xz
	source = https://dl.winehq.org/wine/wine-gecko/2.47.4/wine-gecko-2.47.4-x86_64.tar.xz
	source = https://github.com/madewokherd/wine-mono/releases/download/wine-mono-9.1.0/wine-mono-9.1.0-x86.tar.xz
	source = https://github.com/madewokherd/xalia/releases/download/xalia-0.4.1/xalia-0.4.1-net48-mono.zip
	source = 0001-AUR-Pkgbuild-changes.patch
	source = 0002-AUR-Do-not-update-cargo-crates.patch
	source = 0003-AUR-Remove-kaldi-openfst-vosk-api-modules-because-of.patch
	source = 0004-AUR-Copy-DLL-dependencies-of-32bit-libvkd3d-dlls-int.patch
	source = 0005-AUR-Strip-binaries-early.patch
	source = 0006-AUR-Fix-hwnd-redefinition.patch
	sha256sums = 07a21f546d0ecfe28b409ea0aa402732a8d440ede2f49870059daf38989e46a8
	sha256sums = 2cfc8d5c948602e21eff8a78613e1826f2d033df9672cace87fed56e8310afb6
	sha256sums = fd88fc7e537d058d7a8abf0c1ebc90c574892a466de86706a26d254710a82814
	sha256sums = 601169d0203b291fbfd946b356a9538855e01de22abd470ded73baf312c88767
	sha256sums = a652c3289fb444efb2fbd8b5757484e21ffe6a537b3a3f9a0fbb04a9a10afcba
	sha256sums = 1c541c59b96d1b8e82fd17fa2b1d4bc929dce903e8b02abb9a45d69e415e9e43
	sha256sums = 2405158b694487c37e0ca7c4e02788c8c4fad47b6de4ea9999565ead124019c2
	sha256sums = f1c48a7d19800f9e46568c6ba2e3600a7f21885cc8251a655e83f7cd38e0b48b
	sha256sums = 0fc622d47817dd0959e38e037d698fa843b515307511944b3021a9ff19e3cd3f
	sha256sums = f6425db2bd252f7de452903a29f89183241bc317ee3140193b7d8343adb2f565
	sha256sums = de138e48f6a4662c4877a7f76db9eaf42241b6784ea91a2583707a9842cde78b

pkgname = proton-experimental
