pkgbase = linux-zen-akasha
	pkgdesc = Linux ZEN Akasha
	pkgver = 6.18.4.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.18.4.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.18.4.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.18.4-zen1/linux-v6.18.4-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.18.4-zen1/linux-v6.18.4-zen1.patch.zst.sig
	source = modprobed.db
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = f850139ca5f79c1bf6bb8b32f92e212aadca97bdaef8a83a7cf4ac4d6a525fab
	sha256sums = SKIP
	sha256sums = 010184825e5553f3a94fb829e44a03f39fe70139aadbe530d0eae6e9798ef4ff
	sha256sums = SKIP
	sha256sums = 4a0ba836bc8f243d4c308f6144f2379c5eca4ecdf368fe95a6f9f137c69bd364
	sha256sums = b6b517474617501ecf4c6fbebcc0946146d693a813b4d348f2f41d8d8788f34e
	b2sums = 3cb595f16f164583bdc80022d3f011f683d0b31b618b005bbc85a77005406f45ec9a6a8941976926dbdb79e0f392cc1b70ce2a48fd7d8fa44f131f937f2d38b4
	b2sums = SKIP
	b2sums = 1047d07e2050ab85ac426879c7a936ca08042274729352ed02e476b164b074102b76bc3f30e9ffaaf9cae20c64a047a0169b4c339908649abe7f9ad56395619a
	b2sums = SKIP
	b2sums = c92f61311ad55771b9a497edd145ffb54b63be32187e340e6e5274a0bdbbc5ce301ff98a4d343107b9cb0aaf9e621b84ff777a992e6ded6c64ee9655d9afbb47
	b2sums = 8c8f1d11c5b4f1ee4c5837f41fa9c510d84995892c520280fd9ce8e5a02eb60608d16f6ecbe6a23652e2a2fd39ab131e5e002d4ce552ce92f497193bb57a19b5

pkgname = linux-zen-akasha
	pkgdesc = The Linux ZEN Akasha kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-akasha-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN Akasha kernel
	depends = pahole
