pkgbase = linux-zen-akasha
	pkgdesc = Linux ZEN Akasha
	pkgver = 6.6.10.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.10.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.10.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.6.10-zen1/linux-v6.6.10-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.6.10-zen1/linux-v6.6.10-zen1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 9ee627e4c109aec7fca3eda5898e81d201af2c7eb2f7d9d7d94c1f0e1205546c
	sha256sums = SKIP
	sha256sums = 3eb6a95a9c292da598ccbf7ef0599170e1e50fd16d9eac6cba758dbfd84d5fa1
	sha256sums = SKIP
	sha256sums = 51a51ccec610ee033009c9fdeb9bd2795cf209605e7c67da2855abc0951ed90f
	b2sums = c71e651438216e86e436af032cb529c029351b72b460568bd75858f835212360d646bae27caeb3140a4234f4155553aceec3aa94d761e3a634be7c164eee86a4
	b2sums = SKIP
	b2sums = 499746838133d99ddee53fc807609cf257ff4336427f0a7f70c7bc968e60d3c68d1b23c2100d2c66d86485b0787b913698071c46f8d74aa4cbadc41f6234db81
	b2sums = SKIP
	b2sums = ca1c5495d27fee6b54f5165ff2e3e30ffdc2a388f9404894fed7b38a3643e84edd550d9fceb1bae91595c289070a9d6b4fd53a24796ce2820f6c842d40a1ce2d

pkgname = linux-zen-akasha
	pkgdesc = The Linux ZEN Akasha kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-akasha-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN Akasha kernel
	depends = pahole
