pkgbase = linux-zen-akasha
	pkgdesc = Linux ZEN Akasha
	pkgver = 6.7.6.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.6.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.6.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.7.6-zen1/linux-v6.7.6-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.7.6-zen1/linux-v6.7.6-zen1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = e489ec0e1370d089b446d565aded7a698093d2b7c4122a18f21edb6ef93d37d3
	sha256sums = SKIP
	sha256sums = c6bc98b4ca0839519bc3b497d3094df4094ab346cea90dea5d6189e2439eedb1
	sha256sums = SKIP
	sha256sums = d78c3994a51057cdc1167ddd111252bb3f2dfa7f7b9872505defb732eabac169
	b2sums = 51d6e2304e7a9188a0fec5714276589cb46948157c76a2f4ed3f5e0bf634d94a89ea75251229a86e018767a3367328c16b610d631c78d82663dcd1d904b73385
	b2sums = SKIP
	b2sums = 804a6bfbd65c834da19bfc0e763c0c51a5bb56db27afa025f6122ca429cfa63b55ca384c45d70fe0601cd16001daf75981a55be86d71b471b005363229213c3e
	b2sums = SKIP
	b2sums = c8a837ca6b0bef2b658192db8c3cd5f998cbbd657d5cc596ebbda345d95cdadaaefccfa9f79672589ca61848ad3f761de3ef4b3a713296605bf18e78e21a9f97

pkgname = linux-zen-akasha
	pkgdesc = The Linux ZEN Akasha kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-akasha-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN Akasha kernel
	depends = pahole
