pkgbase = dxvk-wine-git
	pkgdesc = A Vulkan-based compatibility layer for Direct3D 10/11 which allows running 3D applications on Linux using Wine. Winelib version
	pkgver = 0.94.r6.g4e22e4bc
	pkgrel = 1
	url = https://github.com/doitsujin/dxvk
	arch = i686
	arch = x86_64
	license = zlib/libpng
	makedepends = ninja
	makedepends = meson>=0.43
	makedepends = glslang
	makedepends = git
	makedepends = wine
	options = !strip
	source = git+https://github.com/doitsujin/dxvk.git
	source = setup_dxvk_aur
	source = setup_dxvk_aur.verb
	sha256sums = SKIP
	sha256sums = b727c7d6b5ff8b96a85e114fc0a3c945c0c405e4c8a6d40a24db1f8aa10f8b01
	sha256sums = 15a9f9520819c1192512fef085fb713232fe3cd000192b9695e0f5a8fd1f43e1

pkgname = dxvk-wine64-git
	arch = x86_64
	depends = vulkan-icd-loader
	depends = wine>=3.14
	depends = winetricks
	provides = dxvk
	provides = dxvk64
	conflicts = dxvk64

pkgname = dxvk-wine32-git
	arch = i686
	arch = x86_64
	depends = lib32-vulkan-icd-loader
	depends = wine>=3.14
	depends = winetricks
	provides = dxvk
	provides = dxvk32
	conflicts = dxvk32

pkgname = dxvk-wine-git
	pkgdesc = Dummy package to smooth the transition to the split packages
	depends = dxvk-wine32-git
	depends = dxvk-wine64-git
	provides = dxvk

