pkgbase = gamescope-hasvk
	pkgdesc = SteamOS session compositing window manager
	pkgver = 3.16.3
	pkgrel = 1
	url = https://github.com/ValveSoftware/gamescope
	arch = x86_64
	license = BSD-2-Clause
	license = BSD-3-Clause
	license = LicenseRef-Reshade
	makedepends = benchmark
	makedepends = cmake
	makedepends = git
	makedepends = glslang
	makedepends = meson
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = gcc-libs
	depends = glibc
	depends = lcms2
	depends = libavif
	depends = libcap.so
	depends = libdecor
	depends = libdrm
	depends = libei
	depends = libinput
	depends = libpipewire-0.3.so
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxkbcommon.so
	depends = libxmu
	depends = libxrender
	depends = libxres
	depends = libxtst
	depends = libxxf86vm
	depends = luajit
	depends = pixman
	depends = sdl2
	depends = seatd
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-errors
	depends = xcb-util-wm
	depends = xorg-server-xwayland
	provides = gamescope
	conflicts = gamescope
	source = git+https://github.com/ValveSoftware/gamescope.git#tag=f1f105b3a95b4fec5c92e8a10e6927cbb76fe804
	source = https://github.com/ValveSoftware/openvr/pull/1890.patch
	source = gamescope-vk-1_2-comp-target.patch
	source = gamescope-xrgb-overlay-formats.patch
	b2sums = 912d1b00acf2f826c0147d2b2be8c71d3f095eadecd5fff958fc7152cd35103f0a5aa09ef33f4051d1300f719951ad5e4acf6d38afac3f608f2bfcd68e906339
	b2sums = ca715d31473649b6e342d75f44c8cf22cb4c303d546718085a18f00afa2e32532f478261c8c150bd0799005b6742a993575c1914575f5da39ae551315f8cac31
	b2sums = f05d33a496b23a3797038d8c0d1a301f669360b5c6fc0694e2f906fbee218eb1263456cadf9ebc3fb2f06e3e06988da0e5567836db3991aebe655e6483d75e18
	b2sums = 2a07482fa88186d5152599754a73e082f8bbfe0dd7fabc0ec7aac64be75c4579ebc184c88f99bd70301af3a6e6b748ef39b9756e823894f4d750915e81c93591

pkgname = gamescope-hasvk
