pkgbase = rare
	pkgdesc = A GUI for legendary, an open source replacement for Epic Games Launcher
	pkgver = 1.10.3
	pkgrel = 2
	url = https://github.com/Dummerle/Rare
	arch = any
	license = GPL3
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python-pyqt5
	depends = qt5-svg
	depends = python-qtawesome
	depends = python-requests
	depends = python-typing_extensions
	depends = legendary
	optdepends = wine: Run windows games
	optdepends = python-pypresence: Use Discord RPC
	optdepends = python-pywebview: Embeded browser for login
	source = rare::git+https://github.com/Dummerle/Rare.git#tag=1.10.3
	sha256sums = SKIP

pkgname = rare
