[Unit]
Description=Backrest Service (user)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
Environment=BACKREST_RESTIC_COMMAND=/usr/bin/restic
ExecStart=/usr/bin/backrest

[Install]
WantedBy=default.target
