pkgbase = linux-zen-elitebook
	pkgdesc = Linux ZEN Elitebook
	pkgver = 6.15.9.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.15.9.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.15.9.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.15.9-zen1/linux-v6.15.9-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.15.9-zen1/linux-v6.15.9-zen1.patch.zst.sig
	source = modprobed.db
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = e94f3af85492302f7a819441458f80bca0ad9912e5a4c83c699ff3c63c52957d
	sha256sums = SKIP
	sha256sums = 5981d30c31fb3f49696598e1a2854fde51a95fc4d9b0686891b957c2ac335fa0
	sha256sums = SKIP
	sha256sums = ecbd1d040b875fc05290e9a61b937b587a3ed88d335f74d50036fa5f64ba6b0f
	sha256sums = e64c68057953189867e1857103004672ad6aaa5eba1cde67f35ff6cbb2aa2e82
	b2sums = 9818201a76f2e4cdde00a67245764cd971b0cc17ca7c6147cd53d7397eaf54036ec606a86d64b467e8973fa9650cfc83b8389de828b06860f2ee3b0164b2942e
	b2sums = SKIP
	b2sums = 1da35bd475bee8b4edbd09bdc26051bcf5d12134b5746d46aafae685b15c0fb3fe1295f7a22e32a5f889dcf0cf02eae554f5be678f2eb12bdc1cdb449ee7bd63
	b2sums = SKIP
	b2sums = 44add163f39e61b070724679e6f14875dc630ee8d11d16783d50493fe0789a141119e9dad64c2a108e76adde9410c6554adaccb201a17b3e71716d16be874af2
	b2sums = 362ce82a3b942bc60cc61fa2a7063e2114c94e515b7b06d9b71661b544a9f6cf97d66770b097b77e601bb975d6c20303c80e8508aba8491ec70b67a52ecbe96c

pkgname = linux-zen-elitebook
	pkgdesc = The Linux ZEN Elitebook kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-elitebook-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN Elitebook kernel
	depends = pahole
