pkgbase = linux-zen-elitebook
	pkgdesc = Linux ZEN Elitebook
	pkgver = 6.10.10.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.10.10.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.10.10.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.10.10-zen1/linux-v6.10.10-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.10.10-zen1/linux-v6.10.10-zen1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = e687e735b5eb9efb6d67b42433c93fc9118106a995514f062652873b5e809bcd
	sha256sums = SKIP
	sha256sums = fc66084eecc225a2898cc3d23098aa6cc155f392a4a4355baa393bf1bd6e89f1
	sha256sums = SKIP
	sha256sums = 7a8105d34f5741b46a42e91364bb811ccca83a84333bfb4a99e1bb5fb7ac99fa
	b2sums = 8a15910089d080886046b1fd8d57ef28ce872bf428e67ccbc9d5ca92da794d6dee7ab83cc914a499b40962e2990c3b1e5b11ae7d12c1eff7bec548c9a67df03a
	b2sums = SKIP
	b2sums = 9d79dc0c9a77db21475d2f1761c2eab75daf85f85a7f4be490b89c6562369f59ce905f371edc3f7da0be9bc134047e32633b78b8ca4e0bdc4598011eb88b6672
	b2sums = SKIP
	b2sums = 8bc07bc868bd071c330eabf0c67faae22df075ea5182e0352ac678fcbae70f369190ae0b62e484d2b8aa1e6e3c0411246ba5a5ccef9b31b5c611901f7b3c07ab

pkgname = linux-zen-elitebook
	pkgdesc = The Linux ZEN Elitebook kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-elitebook-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN Elitebook kernel
	depends = pahole
