pkgbase = linux-zen-elitebook
	pkgdesc = Linux ZEN Elitebook
	pkgver = 6.12.1.zen1
	pkgrel = 2
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.1.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.1.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.12.1-zen1/linux-v6.12.1-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.12.1-zen1/linux-v6.12.1-zen1.patch.zst.sig
	source = modprobed.db
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 0193b1d86dd372ec891bae799f6da20deef16fc199f30080a4ea9de8cef0c619
	sha256sums = SKIP
	sha256sums = 6cbacdf83d38d4897efb459a4d4860f88ae4434b508a11e1a2f61037daa11ab9
	sha256sums = SKIP
	sha256sums = 6d762ccc8ce1e88e2c63b9f15c5e7a7d563f7d48a6276d6b108626f506b20f9c
	sha256sums = e4cac3a07f80e7e0212aceb3d5d74670cbada7aa116fc7142f06b4e43ca4dc8c
	b2sums = de3f4dec2fc7e36711c68683d6564d0c3ce6fe728ffa6a629604e2fa9e489dbab45fd6676343f6e68bafbd202a3e814e82a1448b46844e34046b9f82f819b8f4
	b2sums = SKIP
	b2sums = 0869ecc6898aa63cb8c7db00e1c2a55e2ec6b2219d557c389d5556f459d127b9433661a8b778d52a53166deabea9ec8f1915224820ba197e8ca63e0336b15eeb
	b2sums = SKIP
	b2sums = a8b108f62e6bcf95803f1b4a5fd3f9b578ac5be21e151645f1f466f83b7a9eb54a433f4a7773aee0f6a60e21b66f10544c6c1d5d321693278d9b4aded7e894fb
	b2sums = ad5d73857724909ee927ac0505e2fdd22e847c6901bd1222157a4902d80fb0b6db8ae8467f884588bbe930c704f968c8b9e218930979327c469b7e507e4f43fc

pkgname = linux-zen-elitebook
	pkgdesc = The Linux ZEN Elitebook kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-elitebook-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN Elitebook kernel
	depends = pahole
