pkgbase = go2tv
	pkgdesc = cast your videos to UPnP/DLNA MediaRenderer
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/alexballas/go2tv
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = libxcursor
	makedepends = libxrandr
	makedepends = libxinerama
	makedepends = libxi
	depends = glibc
	depends = libx11
	depends = libglvnd
	optdepends = ffmpeg: transcoding support
	source = go2tv-2.1.0.tar.gz::https://github.com/alexballas/go2tv/archive/v2.1.0.tar.gz
	sha256sums = 78c6882f913da25ec12f99baf076006d5e2cb416bbafbd7b3499d8d061ee2326

pkgname = go2tv
