pkgbase = lact
	pkgdesc = AMDGPU Controller application
	pkgver = 0.5.6
	pkgrel = 1
	url = https://github.com/ilya-zlobintsev/LACT
	install = lact.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = blueprint-compiler
	makedepends = cargo
	makedepends = clang
	makedepends = libadwaita
	makedepends = git
	depends = hwdata
	depends = gtk4
	source = git+https://github.com/ilya-zlobintsev/LACT.git#tag=v0.5.6
	sha256sums = 9440a4d94f95d0a62124d635855817ea95fc8a5d2a70f2e52cb166364e1e630f

pkgname = lact

pkgname = lact-libadwaita
	pkgdesc = AMDGPU Controller application (libadwaita edition)
	depends = hwdata
	depends = gtk4
	depends = libadwaita
	provides = lact
	conflicts = lact
