pkgbase = wine-staging
	pkgdesc = A compatibility layer for running Windows programs - Staging branch
	pkgver = 9.12
	pkgrel = 3
	url = https://www.wine-staging.com
	install = wine.install
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = autoconf
	makedepends = bison
	makedepends = perl
	makedepends = flex
	makedepends = mingw-w64-gcc
	makedepends = git
	makedepends = python
	makedepends = giflib
	makedepends = lib32-giflib
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = libxinerama
	makedepends = lib32-libxinerama
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = v4l-utils
	makedepends = lib32-v4l-utils
	makedepends = alsa-lib
	makedepends = lib32-alsa-lib
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mesa-libgl
	makedepends = lib32-mesa-libgl
	makedepends = opencl-icd-loader
	makedepends = lib32-opencl-icd-loader
	makedepends = libpulse
	makedepends = lib32-libpulse
	makedepends = libva
	makedepends = lib32-libva
	makedepends = gtk3
	makedepends = lib32-gtk3
	makedepends = gst-plugins-base-libs
	makedepends = lib32-gst-plugins-base-libs
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = libcups
	makedepends = lib32-libcups
	makedepends = sane
	makedepends = libgphoto2
	makedepends = ffmpeg
	makedepends = samba
	makedepends = opencl-headers
	makedepends = ntsync-header
	depends = attr
	depends = lib32-attr
	depends = fontconfig
	depends = lib32-fontconfig
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxrandr
	depends = lib32-libxrandr
	depends = libxi
	depends = lib32-libxi
	depends = gettext
	depends = lib32-gettext
	depends = freetype2
	depends = lib32-freetype2
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = libpcap
	depends = lib32-libpcap
	depends = desktop-file-utils
	depends = libxkbcommon
	depends = lib32-libxkbcommon
	depends = wayland
	depends = lib32-wayland
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = libva
	optdepends = lib32-libva
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = gst-plugins-good
	optdepends = lib32-gst-plugins-good
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = sane
	optdepends = libgphoto2
	optdepends = ffmpeg
	optdepends = cups
	optdepends = samba
	optdepends = dosbox
	optdepends = ntsync-dkms
	provides = wine=9.12
	conflicts = wine
	options = !staticlibs
	options = !lto
	source = https://dl.winehq.org/wine/source/9.x/wine-9.12.tar.xz
	source = https://dl.winehq.org/wine/source/9.x/wine-9.12.tar.xz.sign
	source = https://github.com/wine-staging/wine-staging/archive/v9.12/wine-staging-v9.12.tar.gz
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	source = git+https://github.com/Frogging-Family/wine-tkg-git.git#commit=310c473365a448a16abe2e161885cd853e082d60
	source = 0001-loader-Set-default-regkey-for-NVIDIA-NGX-FullPath.patch
	source = wine-wmclass.patch
	source = wine-isolate_home.patch
	source = wine-ntsync.patch
	validpgpkeys = 5AC1A08B03BD7A313E0A955AF5E6E9EEB9461DD7
	validpgpkeys = DA23579A74D4AD9AF9D3F945CEFAC8EAAF17519D
	sha512sums = 00c25cb11feed3625ebd8dc76fa35930d07d51182be4537c488ac4e713d6f9c61b974b19eafb57f54630376346dc1749c4d36a18d0f72748b34052cc7322df19
	sha512sums = SKIP
	sha512sums = 85d135cc9bef9357ae0899f7b2b5ae61750f1d733dbae05c56e29e5b5705c6b2b9c3c95a83ceec35cf7b631f4157d6685317f8a1078fe1cf7f6c550f7db80009
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = bdde7ae015d8a98ba55e84b86dc05aca1d4f8de85be7e4bd6187054bfe4ac83b5a20538945b63fb073caab78022141e9545685e4e3698c97ff173cf30859e285
	sha512sums = 61e4f81d27b860b9f3bac042f5b382754fb71c420b76715ac7c36b6ba5d82c4fc141306a9b7823c7d5f1d9c89e3ba3370695dfe4d6f5f4a5a7bf9d47f571dbac
	sha512sums = 6aafc2f9dda0896ae56db30bff709393aec3279b0585b11bfb5b8c25fdc0bb8efacd4d881f886b4daa994f32030d4b16ccc01e55dcc6b8ad2da1b75a3ea16a6b
	sha512sums = 30437d8ee92c5741fa50a7fe346ccfc48ba809dad0d740903a05a67781d23ea38a5094038a070a253e3fdd8046783b46a5420df6361bdd30cb229d3d88107569
	sha512sums = 3dcdbd523fcbe79b9e9e9b026b9d0a5edf296514c7b48bd465d2dc05a8ca08e23ba8817e2de08edfe52286a2a2f81db42b65f71254cabe496752b9d45131d282
	sha512sums = 3c03da6abe4bc687e93d2954c3880d0a44f984a4e745598ca958fbd8076c6100d3c9b9213c3df6b0bfc76a5d5d5326ba85438b2793d57df241fadccad0dbbea0

pkgname = wine-staging
