pkgbase = wine-staging
	pkgdesc = A compatibility layer for running Windows programs - Staging branch
	pkgver = 10.8
	pkgrel = 3
	url = https://www.wine-staging.com
	install = wine.install
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = autoconf
	makedepends = bison
	makedepends = perl
	makedepends = flex
	makedepends = mingw-w64-gcc
	makedepends = git
	makedepends = alsa-lib
	makedepends = lib32-alsa-lib
	makedepends = ffmpeg
	makedepends = giflib
	makedepends = lib32-giflib
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = gst-plugins-base-libs
	makedepends = lib32-gst-plugins-base-libs
	makedepends = gst-plugins-good
	makedepends = lib32-gst-plugins-good
	makedepends = gtk3
	makedepends = lib32-gtk3
	makedepends = libcups
	makedepends = lib32-libcups
	makedepends = libgphoto2
	makedepends = libpulse
	makedepends = lib32-libpulse
	makedepends = libva
	makedepends = lib32-libva
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxinerama
	makedepends = lib32-libxinerama
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mesa-libgl
	makedepends = lib32-mesa-libgl
	makedepends = opencl-headers
	makedepends = opencl-icd-loader
	makedepends = lib32-opencl-icd-loader
	makedepends = pcsclite
	makedepends = lib32-pcsclite
	makedepends = python
	makedepends = samba
	makedepends = sane
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = unixodbc
	makedepends = v4l-utils
	makedepends = lib32-v4l-utils
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	depends = attr
	depends = lib32-attr
	depends = desktop-file-utils
	depends = fontconfig
	depends = lib32-fontconfig
	depends = freetype2
	depends = lib32-freetype2
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = gettext
	depends = lib32-gettext
	depends = libpcap
	depends = lib32-libpcap
	depends = libunwind
	depends = lib32-libunwind
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxkbcommon
	depends = lib32-libxkbcommon
	depends = libxi
	depends = lib32-libxi
	depends = libxrandr
	depends = lib32-libxrandr
	depends = wayland
	depends = lib32-wayland
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = cups
	optdepends = lib32-libcups
	optdepends = dosbox
	optdepends = ffmpeg
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = gst-plugins-bad
	optdepends = gst-plugins-base
	optdepends = lib32-gst-plugins-base
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = gst-plugins-good
	optdepends = lib32-gst-plugins-good
	optdepends = gst-plugins-ugly
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = libgphoto2
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = libva
	optdepends = lib32-libva
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = pcsclite
	optdepends = lib32-pcsclite
	optdepends = samba
	optdepends = sane
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = unixodbc
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = wine-gecko
	optdepends = wine-mono
	optdepends = NTSYNC-MODULE
	provides = wine=10.8
	conflicts = wine
	options = !staticlibs
	options = !lto
	source = git+https://gitlab.winehq.org/wine/wine.git?signed#tag=wine-10.8
	source = git+https://gitlab.winehq.org/wine/wine-staging.git#tag=v10.8
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	source = git+https://github.com/Frogging-Family/wine-tkg-git.git#commit=2c07bbced3328c361ff73782611b9c9ab796ed37
	source = wine-wmclass.patch
	source = wine-isolate_home.patch
	source = 0001-win32u-Bump-AMD-driver-version.patch
	source = 0002-win32u-Update-Nvidia-s-DriverVersion-to-999.99.patch
	source = wine-ntsync.patch
	validpgpkeys = 5AC1A08B03BD7A313E0A955AF5E6E9EEB9461DD7
	validpgpkeys = DA23579A74D4AD9AF9D3F945CEFAC8EAAF17519D
	sha512sums = cdd2ba4f543b0c7526d37f96b26fadce6234a346aeb541e8f071caa006ca5b42da6406cf15bc2ef106334f100add7771ec1a55bede6d7d330de4880cc4b9339d
	sha512sums = aaf802bdd8d0143d98c34df28b2850d8ab552e374f4c8c78f5cee66568e4d50a7ad7557fc3bbe45b03196c6519691eaa9fd6457d6e8a627722ca7199e124c393
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = bdde7ae015d8a98ba55e84b86dc05aca1d4f8de85be7e4bd6187054bfe4ac83b5a20538945b63fb073caab78022141e9545685e4e3698c97ff173cf30859e285
	sha512sums = abdaa9d7b46630f46ad0291e3db6509942fad5236178a42a0d8dbe6a1205a464bb0136601c2f4cd99d9d8bf0ed588460e1fa03148dcb90a7cbdf07013b3aa180
	sha512sums = 372be267e8099fbffbaee99e127032841e5ff42949e96822fb9299fadf8c41f9932bc42c19d25dec5b0b06f56f9db91e480391d3e2fc988bf8885a79e0c58144
	sha512sums = 3dcdbd523fcbe79b9e9e9b026b9d0a5edf296514c7b48bd465d2dc05a8ca08e23ba8817e2de08edfe52286a2a2f81db42b65f71254cabe496752b9d45131d282
	sha512sums = ef08c0bdafe4738fa84ffea8f3f165a102fd4d92e33764108704afb622515d862dfae9070d4a82680a1ceddf34088e434d2163407a26037f13f1523bf28debf1
	sha512sums = 9c723337aef10c91c0e73a93dafe49078ff2571170e3277612dcdfde0fd2c25db00278f69dd8887e16385c125ea8cd857d1c5ff574aff3faf81ad484fb4a7d73
	sha512sums = 3ed7815da7f4a81817cabbf53af9379b4b92730332c16f8d76beda92cb5357da288a79e7306b9c9b94e6f3e9224b01b4f98ba340a9e23774b068f839d5716863

pkgname = wine-staging
