pkgbase = python
	pkgdesc = Next generation of the python high-level scripting language, version 3.
	pkgver = 3.9.16
	pkgrel = 2
	url = https://www.python.org/
	arch = x86_64
	license = custom
	makedepends = tk
	makedepends = sqlite
	makedepends = bluez-libs
	makedepends = mpdecimal
	makedepends = llvm
	makedepends = gdb
	makedepends = xorg-server-xvfb
	makedepends = ttf-font
	depends = bzip2
	depends = expat
	depends = gdbm
	depends = libffi
	depends = libnsl
	depends = libxcrypt
	depends = openssl
	depends = zlib
	provides = python=3.9
	source = https://www.python.org/ftp/python/3.9.16/Python-3.9.16.tar.xz
	source = https://www.python.org/ftp/python/3.9.16/Python-3.9.16.tar.xz.asc
	source = mpdecimal-2.5.1.patch
	validpgpkeys = 0D96DF4D4110E5C43FBFB17F2D347EA6AA65421D
	validpgpkeys = E3FF2839C048B25C084DEBE9B26995E310250568
	sha512sums = b5fd0afe131c82bbce6ddf887c59eef6945910d6a9a2bc87c0927f4e4a096bf9ca4d25bcb729c40f6ebb8a65fbe8bf7b0b97a7c4a8c9e551240eb4f34b878653
	sha512sums = SKIP
	sha512sums = 58f683cbfdc6aa84c03d068c1bc2f1d8d2c17ba4f7b632c14ab1d529d8332e767354266c3815e239427497fff1a42ec2a37739ea312d24cb76a69dcf1c98c0ad

pkgname = python39
	optdepends = python-setuptools
	optdepends = python-pip
	optdepends = sqlite
	optdepends = mpdecimal: for decimal
	optdepends = xz: for lzma
	optdepends = tk: for tkinter

pkgname = python39-tests
	pkgdesc = Regression tests packages for Python
	depends = python39
