pkgbase = python
	pkgdesc = Next generation of the python high-level scripting language, version 3.10
	pkgver = 3.10.13
	pkgrel = 1
	url = https://www.python.org/
	arch = x86_64
	license = custom
	makedepends = tk
	makedepends = sqlite
	makedepends = bluez-libs
	makedepends = mpdecimal
	makedepends = llvm
	makedepends = gdb
	makedepends = xorg-server-xvfb
	makedepends = ttf-font
	depends = bzip2
	depends = expat
	depends = gdbm
	depends = libffi
	depends = libnsl
	depends = libxcrypt
	depends = openssl
	depends = zlib
	provides = python=3.10
	source = https://www.python.org/ftp/python/3.10.13/Python-3.10.13.tar.xz
	source = https://www.python.org/ftp/python/3.10.13/Python-3.10.13.tar.xz.asc
	validpgpkeys = 0D96DF4D4110E5C43FBFB17F2D347EA6AA65421D
	validpgpkeys = E3FF2839C048B25C084DEBE9B26995E310250568
	validpgpkeys = A035C8C19219BA821ECEA86B64E628F8D684696D
	sha512sums = 7579772e501486b2b07f78142082dee1e99c7643640098860ac0cf2ca87daf7588b0c00b1db1960146b37f56a6ed98fd08297c25c9a19b612cf6e6a258984da8
	sha512sums = SKIP

pkgname = python310
	optdepends = python-setuptools
	optdepends = python-pip
	optdepends = sqlite
	optdepends = mpdecimal: for decimal
	optdepends = xz: for lzma
	optdepends = tk: for tkinter

pkgname = python310-tests
	pkgdesc = Regression tests packages for Python
	depends = python310
