pkgbase = gearlever
	pkgdesc = Manage AppImages with ease
	pkgver = 3.4.5
	pkgrel = 1
	url = https://mijorus.it/projects/gearlever/
	arch = x86_64
	license = GPL-3.0-or-later
	checkdepends = appstream
	checkdepends = desktop-file-utils
	makedepends = gettext
	makedepends = meson
	depends = 7zip
	depends = binutils
	depends = dconf
	depends = dwarfs-bin
	depends = fuse2
	depends = gdk-pixbuf2
	depends = glibc
	depends = glib2
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = squashfs-tools
	depends = pango
	depends = python
	depends = python-dbus
	depends = python-gobject
	depends = python-pyxdg
	depends = python-requests
	depends = zlib
	optdepends = libxml2-legacy: required for LibreOffice appimage
	options = !strip
	options = !debug
	source = gearlever-3.4.5.tar.gz::https://github.com/mijorus/gearlever/archive/refs/tags/3.4.5.tar.gz
	sha256sums = 1f188a1d2503628a3f73c4b57a5e18443e098bd1c70b8b0499a05680d298dc46

pkgname = gearlever
