pkgbase = wine
	pkgdesc = A compatibility layer for running Windows programs
	pkgver = 11.0
	pkgrel = 1
	url = https://www.winehq.org
	install = wine.install
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = alsa-lib
	makedepends = lib32-alsa-lib
	makedepends = ffmpeg
	makedepends = git
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = gst-plugins-base-libs
	makedepends = lib32-gst-plugins-base-libs
	makedepends = libcups
	makedepends = lib32-libcups
	makedepends = libgphoto2
	makedepends = libpulse
	makedepends = lib32-libpulse
	makedepends = libva
	makedepends = lib32-libva
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxinerama
	makedepends = lib32-libxinerama
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mingw-w64-gcc
	makedepends = opencl-headers
	makedepends = opencl-icd-loader
	makedepends = lib32-opencl-icd-loader
	makedepends = pcsclite
	makedepends = lib32-pcsclite
	makedepends = perl
	makedepends = python
	makedepends = samba
	makedepends = sane
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = unixodbc
	makedepends = v4l-utils
	makedepends = lib32-v4l-utils
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	depends = attr
	depends = lib32-attr
	depends = desktop-file-utils
	depends = fontconfig
	depends = lib32-fontconfig
	depends = freetype2
	depends = lib32-freetype2
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = gettext
	depends = lib32-gettext
	depends = libpcap
	depends = lib32-libpcap
	depends = libunwind
	depends = lib32-libunwind
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxkbcommon
	depends = lib32-libxkbcommon
	depends = libxi
	depends = lib32-libxi
	depends = libxrandr
	depends = lib32-libxrandr
	depends = wayland
	depends = lib32-wayland
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = cups
	optdepends = lib32-libcups
	optdepends = dosbox
	optdepends = ffmpeg
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = gst-plugins-bad
	optdepends = gst-plugins-base
	optdepends = lib32-gst-plugins-base
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = gst-plugins-good
	optdepends = lib32-gst-plugins-good
	optdepends = gst-plugins-ugly
	optdepends = libgphoto2
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = libva
	optdepends = lib32-libva
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = pcsclite
	optdepends = lib32-pcsclite
	optdepends = samba
	optdepends = sane
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = unixodbc
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = wine-gecko
	optdepends = wine-mono
	optdepends = NTSYNC-MODULE
	options = !staticlibs
	options = !lto
	options = !debug
	options = pestrip
	source = git+https://gitlab.winehq.org/wine/wine.git?signed#tag=wine-11.0
	source = compatibilitytool.vdf
	source = toolmanifest.vdf
	source = miniproton
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	source = ntsync.conf
	source = git+https://github.com/Frogging-Family/wine-tkg-git.git#commit=e291444b5f46cefcb272a0c7de18112f12621abf
	source = wine-sauce.patch
	validpgpkeys = 5AC1A08B03BD7A313E0A955AF5E6E9EEB9461DD7
	validpgpkeys = DA23579A74D4AD9AF9D3F945CEFAC8EAAF17519D
	sha512sums = 15afacf4796a92588201a100f4da001533ab350d6bec3b0f03a540fa594a4aa06aaaa4987789fe5ce7edc47da1509f8bf953d876368c61a9ae4df9128d247ec0
	sha512sums = 14a97ee7c9a023cf8b7cf8392325540ccc2e22673dd624d3add8e759c06ae98373fd3904835980803d661a174febfc2a3ad05e9e574b80435ebdcb7cc217fa31
	sha512sums = 61e0176986a9794855eb89367b123413039c5c4a8a16ce9bdc65abc7668ae48e7d4fd9feeeb4d300888998d44bb5c457f19a8defb482edefd719a7dfdced3235
	sha512sums = 5af31424909cda08a52daa31cd3baa436926953fb8f23348ae71c5d2f7aa353ae47febded60765c785d364d57d89c2fb5fbc5191bb3b02758fa511c6adb54070
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = bdde7ae015d8a98ba55e84b86dc05aca1d4f8de85be7e4bd6187054bfe4ac83b5a20538945b63fb073caab78022141e9545685e4e3698c97ff173cf30859e285
	sha512sums = ac2bd634838ffe6b90f2637e229013f0993fc1013271dbeefd216dc262a8bb79e4a5ce15a75cbfcb0c3b521d32f4ebe1ed25a6b066b99cc327b60bd6d7212e6f
	sha512sums = c6034629be0d2659f9db451c4d1e59df32bb2b45b880de54218570633f5f4598d410084b23cb1974c80182a6394146aeaa3b3137aa2c3e27d027e002a214c0b0
	sha512sums = 950da53c1f1816136f9ef5505759f535b72f61b0f25bb296e877a5279a87b95d6d97b34bb7bdf3e1255aca84a0696187d521cd6ea7ccd76a9da361d250ffc36f

pkgname = wine
