pkgbase = wine
	pkgdesc = A compatibility layer for running Windows programs
	pkgver = 9.17
	pkgrel = 1
	url = https://www.winehq.org
	install = wine.install
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = autoconf
	makedepends = bison
	makedepends = perl
	makedepends = flex
	makedepends = mingw-w64-gcc
	makedepends = git
	makedepends = python
	makedepends = alsa-lib
	makedepends = lib32-alsa-lib
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = gst-plugins-base-libs
	makedepends = lib32-gst-plugins-base-libs
	makedepends = libcups
	makedepends = lib32-libcups
	makedepends = libgphoto2
	makedepends = libpulse
	makedepends = lib32-libpulse
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxinerama
	makedepends = lib32-libxinerama
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mesa-libgl
	makedepends = lib32-mesa-libgl
	makedepends = opencl-headers
	makedepends = opencl-icd-loader
	makedepends = lib32-opencl-icd-loader
	makedepends = pcsclite
	makedepends = lib32-pcsclite
	makedepends = samba
	makedepends = sane
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = unixodbc
	makedepends = v4l-utils
	makedepends = lib32-v4l-utils
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	makedepends = ntsync-header
	makedepends = desktop-file-utils
	makedepends = fontconfig
	makedepends = lib32-fontconfig
	makedepends = freetype2
	makedepends = lib32-freetype2
	makedepends = gcc-libs
	makedepends = lib32-gcc-libs
	makedepends = gettext
	makedepends = lib32-gettext
	makedepends = libpcap
	makedepends = lib32-libpcap
	makedepends = libunwind
	makedepends = lib32-libunwind
	makedepends = libxcursor
	makedepends = lib32-libxcursor
	makedepends = libxkbcommon
	makedepends = lib32-libxkbcommon
	makedepends = libxi
	makedepends = lib32-libxi
	makedepends = libxrandr
	makedepends = lib32-libxrandr
	makedepends = wayland
	makedepends = lib32-wayland
	depends = desktop-file-utils
	depends = fontconfig
	depends = lib32-fontconfig
	depends = freetype2
	depends = lib32-freetype2
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = gettext
	depends = lib32-gettext
	depends = libpcap
	depends = lib32-libpcap
	depends = libunwind
	depends = lib32-libunwind
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxkbcommon
	depends = lib32-libxkbcommon
	depends = libxi
	depends = lib32-libxi
	depends = libxrandr
	depends = lib32-libxrandr
	depends = wayland
	depends = lib32-wayland
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = cups
	optdepends = lib32-libcups
	optdepends = dosbox
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = gst-plugins-bad
	optdepends = gst-plugins-base
	optdepends = lib32-gst-plugins-base
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = gst-plugins-good
	optdepends = lib32-gst-plugins-good
	optdepends = gst-plugins-ugly
	optdepends = libgphoto2
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = pcsclite
	optdepends = lib32-pcsclite
	optdepends = samba
	optdepends = sane
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = unixodbc
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = wine-gecko
	optdepends = wine-mono
	optdepends = ntsync-dkms
	options = !staticlibs
	options = !lto
	source = https://dl.winehq.org/wine/source/9.x/wine-9.17.tar.xz
	source = https://dl.winehq.org/wine/source/9.x/wine-9.17.tar.xz.sign
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	source = git+https://github.com/Frogging-Family/wine-tkg-git.git#commit=c4982f9ee170d505bb81a7654acfd2ca9adedcd6
	source = wine-wmclass.patch
	source = wine-isolate_home.patch
	source = wine-ntsync.patch
	validpgpkeys = 5AC1A08B03BD7A313E0A955AF5E6E9EEB9461DD7
	validpgpkeys = DA23579A74D4AD9AF9D3F945CEFAC8EAAF17519D
	sha512sums = 06ee82fc0f0c8c02f1f646f674e8e3c5d4b9ca9cf64a910b01eb9c6d5dbe0471a6b232875e099c2e5cfd8e1c183ee72850820f24fc026b11523b56872a2efec5
	sha512sums = SKIP
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = bdde7ae015d8a98ba55e84b86dc05aca1d4f8de85be7e4bd6187054bfe4ac83b5a20538945b63fb073caab78022141e9545685e4e3698c97ff173cf30859e285
	sha512sums = 0e246f9c7b3360972b610a319937cbd48556ac239e633841f655bb1a609cb42be18cdef9e57abaeb2f342becb800211494a72ea5a83d6f6b921263285a87e4e7
	sha512sums = 30437d8ee92c5741fa50a7fe346ccfc48ba809dad0d740903a05a67781d23ea38a5094038a070a253e3fdd8046783b46a5420df6361bdd30cb229d3d88107569
	sha512sums = 3dcdbd523fcbe79b9e9e9b026b9d0a5edf296514c7b48bd465d2dc05a8ca08e23ba8817e2de08edfe52286a2a2f81db42b65f71254cabe496752b9d45131d282
	sha512sums = 685257c1a70ff5d465256e9f915ed7823ad179844938d4c2c7a4dfcb76a144b3e59ede471c8c86b19ac4afe93e70eba98ff4ab216fd886d81ba7ec917ce93b23

pkgname = wine
