pkgbase = pi-hole-ftl
	pkgdesc = The Pi-hole FTL engine
	pkgver = 6.2.1
	pkgrel = 1
	url = https://github.com/pi-hole/FTL
	install = pi-hole-ftl.install
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = EUPL-1.2
	makedepends = cmake
	makedepends = xxd
	depends = nettle
	depends = gmp
	depends = mbedtls
	depends = pi-hole-web
	provides = dnsmasq
	conflicts = dnsmasq
	backup = etc/pihole/pihole-FTL.conf
	backup = etc/pihole/dhcp.leases
	source = pi-hole-ftl-v6.2.1.tar.gz::https://github.com/pi-hole/FTL/archive/v6.2.1.tar.gz
	source = https://raw.githubusercontent.com/max72bra/pi-hole-ftl-archlinux-customization/master/arch-ftl-6.2.1-1.patch
	source = pi-hole-ftl.tmpfile
	source = pi-hole-ftl.sysuser
	source = pi-hole-ftl.service
	sha256sums = 33f5a99af274e4ae2959f90161828c4fb3dc048c56274fd5ea82d55a96244596
	sha256sums = b81f73c1c853242ef4cc007f45d3f86b3f51048057bf0620f7088300fc97e36b
	sha256sums = 0feb4597a4afd9054553505d305b0feb7e1f6e1705b092561648ff37d0a2893c
	sha256sums = dd1d2a341e774d4e549373ae75604031b9af0ee44debcd71a89259d9110d2a77
	sha256sums = 0998da040d038ddbad129ba8e1ea74741bc912813407b579cab1b3b3f206e721

pkgname = pi-hole-ftl
