pkgbase = pi-hole-ftl
	pkgdesc = The Pi-hole FTL engine
	pkgver = 6.3.3
	pkgrel = 1
	url = https://github.com/pi-hole/FTL
	install = pi-hole-ftl.install
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = EUPL-1.2
	makedepends = cmake
	makedepends = xxd
	depends = nettle
	depends = gmp
	depends = mbedtls
	depends = pi-hole-web
	provides = dnsmasq
	conflicts = dnsmasq
	backup = etc/pihole/pihole-FTL.conf
	backup = etc/pihole/dhcp.leases
	source = pi-hole-ftl-v6.3.3.tar.gz::https://github.com/pi-hole/FTL/archive/v6.3.3.tar.gz
	source = https://raw.githubusercontent.com/max72bra/pi-hole-ftl-archlinux-customization/master/arch-ftl-6.3.3-1.patch
	source = pi-hole-ftl.tmpfile
	source = pi-hole-ftl.sysuser
	source = pi-hole-ftl.service
	sha256sums = 68213b218a2786597ea9e3a1100530a67ce38289e2ab189a2b43a6b3b70ca4e9
	sha256sums = 766d52c3ed469dd9735b1b5bb3515f43df02a9d704cab79113c93026f7376cae
	sha256sums = 0feb4597a4afd9054553505d305b0feb7e1f6e1705b092561648ff37d0a2893c
	sha256sums = dd1d2a341e774d4e549373ae75604031b9af0ee44debcd71a89259d9110d2a77
	sha256sums = 0998da040d038ddbad129ba8e1ea74741bc912813407b579cab1b3b3f206e721

pkgname = pi-hole-ftl
