pkgbase = purple-facebook
	pkgdesc = Facebook protocol plugin for libpurple
	pkgver = 0.9.6.r8.g1a6711f
	pkgrel = 1
	url = https://github.com/dequis/purple-facebook
	arch = x86_64
	license = GPL
	makedepends = mercurial
	makedepends = autoconf
	makedepends = git
	depends = json-glib
	depends = libpurple
	source = purple-facebook::git+https://github.com/dequis/purple-facebook
	source = pidgin::hg+https://keep.imfreedom.org/pidgin/pidgin
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = purple-facebook
