pkgbase = gamescope
	pkgdesc = SteamOS session compositing window manager
	pkgver = 3.16.1
	pkgrel = 1
	url = https://github.com/ValveSoftware/gamescope
	arch = x86_64
	license = BSD-2-Clause
	license = BSD-3-Clause
	license = LicenseRef-Reshade
	makedepends = benchmark
	makedepends = cmake
	makedepends = git
	makedepends = glslang
	makedepends = meson
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = gcc-libs
	depends = glibc
	depends = lcms2
	depends = libavif
	depends = libcap.so
	depends = libdecor
	depends = libdrm
	depends = libei
	depends = libinput
	depends = libpipewire-0.3.so
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxkbcommon.so
	depends = libxmu
	depends = libxrender
	depends = libxres
	depends = libxtst
	depends = libxxf86vm
	depends = luajit
	depends = pixman
	depends = sdl2
	depends = seatd
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-errors
	depends = xcb-util-wm
	depends = xorg-server-xwayland
	source = git+https://github.com/ValveSoftware/gamescope.git#tag=4da5e4a37560f9b3c85af2679330f9ec292c8ee1
	source = gamescope-vk-1_2-comp-target.patch
	source = gamescope-xrgb-overlay-formats.patch
	b2sums = 35960b5d33604f9649004cf0aa32470349111ec4f41d1750f1fb0525ca4acff070e7874454c3fbebc8f3d00b80f5529c4e80b8cd71dcb3e8ae0967bc3c1c6181
	b2sums = f05d33a496b23a3797038d8c0d1a301f669360b5c6fc0694e2f906fbee218eb1263456cadf9ebc3fb2f06e3e06988da0e5567836db3991aebe655e6483d75e18
	b2sums = 2a07482fa88186d5152599754a73e082f8bbfe0dd7fabc0ec7aac64be75c4579ebc184c88f99bd70301af3a6e6b748ef39b9756e823894f4d750915e81c93591

pkgname = gamescope
