pkgbase = gamescope
	pkgdesc = SteamOS session compositing window manager
	pkgver = 3.15.13
	pkgrel = 1
	url = https://github.com/ValveSoftware/gamescope
	arch = x86_64
	license = BSD-2-Clause
	license = BSD-3-Clause
	license = LicenseRef-Reshade
	makedepends = benchmark
	makedepends = cmake
	makedepends = git
	makedepends = glslang
	makedepends = meson
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = gcc-libs
	depends = glibc
	depends = lcms2
	depends = libavif
	depends = libcap.so
	depends = libdecor
	depends = libdrm
	depends = libei
	depends = libinput
	depends = libpipewire-0.3.so
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxkbcommon.so
	depends = libxmu
	depends = libxrender
	depends = libxres
	depends = libxtst
	depends = libxxf86vm
	depends = pixman
	depends = sdl2
	depends = seatd
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-errors
	depends = xcb-util-wm
	depends = xorg-server-xwayland
	source = git+https://github.com/ValveSoftware/gamescope.git#tag=35cb4fbb2399df205b772295451b875f784ec8d0
	source = gamescope-vk-1_2-comp-target.patch
	source = gamescope-xrgb-overlay-formats.patch
	b2sums = 77529601bc8912a6eaec9fc8c5364e4542cedc4b89548f3709457f7f898466ff9e4404d9de085135c30ea145ae7a8acbc44c740d79a12abc05f45a3a4c582082
	b2sums = SKIP
	b2sums = SKIP

pkgname = gamescope
