pkgbase = gamescope
	pkgdesc = SteamOS session compositing window manager
	pkgver = 3.15.15
	pkgrel = 1
	url = https://github.com/ValveSoftware/gamescope
	arch = x86_64
	license = BSD-2-Clause
	license = BSD-3-Clause
	license = LicenseRef-Reshade
	makedepends = benchmark
	makedepends = cmake
	makedepends = git
	makedepends = glslang
	makedepends = meson
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = gcc-libs
	depends = glibc
	depends = lcms2
	depends = libavif
	depends = libcap.so
	depends = libdecor
	depends = libdrm
	depends = libei
	depends = libinput
	depends = libpipewire-0.3.so
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxkbcommon.so
	depends = libxmu
	depends = libxrender
	depends = libxres
	depends = libxtst
	depends = libxxf86vm
	depends = pixman
	depends = sdl2
	depends = seatd
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-errors
	depends = xcb-util-wm
	depends = xorg-server-xwayland
	source = git+https://github.com/ValveSoftware/gamescope.git#tag=a4278b065d10f11007a0af8ed9cea2fbebd2bb3a
	source = gamescope-vk-1_2-comp-target.patch
	source = gamescope-xrgb-overlay-formats.patch
	b2sums = c55f57586b73bd066971b6a0c3c73d84778afa0aed4079962e230ab508f3eb2e5530cd450329d5d73f0791af9eba90dfa3ee0ecbc81894b860d8390e6e92c45a
	b2sums = SKIP
	b2sums = SKIP

pkgname = gamescope
