pkgbase = lib32-simplescreenrecorder
	pkgdesc = Record 32-bit OpenGL applications with SimpleScreenRecorder.
	pkgver = 0.4.4
	pkgrel = 4
	url = https://www.maartenbaert.be/simplescreenrecorder/
	install = lib32-simplescreenrecorder.install
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	depends = lib32-libgl
	depends = lib32-glu
	depends = lib32-libx11
	depends = lib32-libxext
	depends = lib32-libxfixes
	source = git+https://github.com/MaartenBaert/ssr.git#tag=0.4.4
	source = ffmpeg7.patch::https://patch-diff.githubusercontent.com/raw/MaartenBaert/ssr/pull/1036.patch
	sha256sums = 9c7c3a9984800671bfb280ccbbc91e98d4993ea4465ab8f8c73b9ac65bd4c69c
	sha256sums = a1d4a2c1d5cfcf6a327cc98e47e6cd76dd2fd03b33ca9e7fcaba971570fae914

pkgname = lib32-simplescreenrecorder
