pkgbase = awesome
	pkgdesc = Highly configurable framework window manager
	pkgver = 4.3.r1654.g8b1f895
	pkgrel = 1
	url = https://awesomewm.org
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = asciidoctor
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = doxygen
	makedepends = imagemagick
	makedepends = ldoc
	makedepends = ttf-font
	makedepends = xmlto
	depends = cairo
	depends = dbus
	depends = gdk-pixbuf2
	depends = imlib2
	depends = libxdg-basedir
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = lua53
	depends = lua53-lgi
	depends = pango
	depends = startup-notification
	depends = xcb-util-cursor
	depends = xcb-util-keysyms
	depends = xcb-util-wm
	depends = xcb-util-xrm
	depends = xorg-xmessage
	optdepends = rlwrap: readline support for awesome-client
	optdepends = dex: autostart your desktop files
	optdepends = vicious: widgets for the Awesome window manager
	provides = notification-daemon
	backup = etc/xdg/awesome/rc.lua
	source = git+https://github.com/awesomeWM/awesome.git
	validpgpkeys = 2BB32F88FF3D1E76E682303F22E428EBCB8FCB06
	sha512sums = SKIP

pkgname = awesome
