pkgbase = wine-staging
	pkgdesc = A compatibility layer for running Windows programs - Staging branch
	pkgver = 11.6
	pkgrel = 1
	url = https://www.wine-staging.com
	install = wine.install
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = alsa-lib
	makedepends = ffmpeg
	makedepends = git
	makedepends = gnutls
	makedepends = gst-plugins-base-libs
	makedepends = libcups
	makedepends = libgphoto2
	makedepends = libpulse
	makedepends = libva
	makedepends = libxcomposite
	makedepends = libxinerama
	makedepends = libxxf86vm
	makedepends = mesa
	makedepends = mingw-w64-gcc
	makedepends = opencl-headers
	makedepends = opencl-icd-loader
	makedepends = pcsclite
	makedepends = perl
	makedepends = python
	makedepends = samba
	makedepends = sane
	makedepends = sdl2
	makedepends = unixodbc
	makedepends = v4l-utils
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	depends = attr
	depends = desktop-file-utils
	depends = fontconfig
	depends = freetype2
	depends = libgcc
	depends = gettext
	depends = glib2
	depends = glibc
	depends = libpcap
	depends = libunwind
	depends = libx11
	depends = libxcursor
	depends = libxext
	depends = libxkbcommon
	depends = libxi
	depends = libxrandr
	depends = systemd-libs
	depends = wayland
	optdepends = alsa-lib
	optdepends = alsa-plugins
	optdepends = cups
	optdepends = dosbox
	optdepends = ffmpeg
	optdepends = gnutls
	optdepends = gst-plugins-bad
	optdepends = gst-plugins-base
	optdepends = gst-plugins-base-libs
	optdepends = gst-plugins-good
	optdepends = gst-plugins-ugly
	optdepends = gstreamer
	optdepends = libgphoto2
	optdepends = libpulse
	optdepends = libusb
	optdepends = libva
	optdepends = libxcomposite
	optdepends = libxinerama
	optdepends = opencl-icd-loader
	optdepends = pcsclite
	optdepends = perl
	optdepends = samba
	optdepends = sane
	optdepends = sdl2
	optdepends = unixodbc
	optdepends = v4l-utils
	optdepends = vulkan-icd-loader
	optdepends = wine-gecko
	optdepends = wine-mono
	optdepends = NTSYNC-MODULE
	provides = wine=11.6
	conflicts = wine
	options = !staticlibs
	options = !lto
	options = !debug
	options = pestrip
	source = git+https://gitlab.winehq.org/wine/wine.git?signed#tag=wine-11.6
	source = git+https://gitlab.winehq.org/wine/wine-staging.git#tag=v11.6
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	source = ntsync.conf
	source = compatibilitytool.vdf
	source = toolmanifest.vdf
	source = miniproton
	source = git+https://github.com/Frogging-Family/wine-tkg-git.git#commit=3e3245b5b69ddd49579b6c9c455e4d990cea6a18
	source = wine-sauce.patch
	validpgpkeys = 5AC1A08B03BD7A313E0A955AF5E6E9EEB9461DD7
	validpgpkeys = DA23579A74D4AD9AF9D3F945CEFAC8EAAF17519D
	sha512sums = 27c17ad8c7089dffe6500ad2981f8c84250cde152d40e89ea8537132edc68bc0d0489de42cd61676475d246474ad708549357668279db9fe6254b4cb471f73fb
	sha512sums = b40e8d2f480731089607bf2fb559505f15011afa41fdb8f17e6f0ce1f8d9f4c2f1c9517ad5ba42fd772d095e4863cda68d0f27609a9d5fcc4a14493ba98d6276
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = bdde7ae015d8a98ba55e84b86dc05aca1d4f8de85be7e4bd6187054bfe4ac83b5a20538945b63fb073caab78022141e9545685e4e3698c97ff173cf30859e285
	sha512sums = ac2bd634838ffe6b90f2637e229013f0993fc1013271dbeefd216dc262a8bb79e4a5ce15a75cbfcb0c3b521d32f4ebe1ed25a6b066b99cc327b60bd6d7212e6f
	sha512sums = e2508069a474bb5a18227f5cbd557842285645b17e3b7aa4d27141c129d8b3ee5bd26f858816962f1965262b19c74fdd9ee087bc289c5bf66e33e1e44b55a084
	sha512sums = 61e0176986a9794855eb89367b123413039c5c4a8a16ce9bdc65abc7668ae48e7d4fd9feeeb4d300888998d44bb5c457f19a8defb482edefd719a7dfdced3235
	sha512sums = 5af31424909cda08a52daa31cd3baa436926953fb8f23348ae71c5d2f7aa353ae47febded60765c785d364d57d89c2fb5fbc5191bb3b02758fa511c6adb54070
	sha512sums = e0babd5b1b3cfa31c145bd1fb1ec8352b230e7c40a84c7980b50cb65c3dd82e14b9ba8e10823fada78e366093e19b4037d12c6cc4c4a9fcd26375c67fc2c5055
	sha512sums = e2f615a49d3448ea8b52e10f5a5a09cf91c24ed715f8d385f5861c6d13b22caad6b948e403ec4fa907aaf37e20721bb4a99a35b234509a7c4d00c7d3ad4021ff

pkgname = wine-staging
