pkgbase = lib32-libxnvctrl
	pkgdesc = NVIDIA NV-CONTROL X extension (32-bit)
	pkgver = 575.64.05
	pkgrel = 1
	url = https://github.com/NVIDIA/nvidia-settings
	arch = x86_64
	license = GPL2
	depends = lib32-gcc-libs
	depends = lib32-jansson
	depends = lib32-libxext
	optdepends = libxnvctrl: XNVCtrl development headers
	options = staticlibs
	source = nvidia-settings-575.64.05.tar.gz::https://github.com/NVIDIA/nvidia-settings/archive/575.64.05.tar.gz
	source = nvidia-settings-libxnvctrl_so.patch
	sha512sums = 8eb0b15f58146f70df6fe4d9feb290d046fa54f063869aa420e2155b39da3b03914db41f58c974fc6662d7bfe86a73e7224c4e8bda4fdc161f36b6acccff7f80
	sha512sums = 0303fe615d6ef4e14112998c531a17613b94776f9a6a027ddb81e400fddd5f2ff15583da8b8631c2306aca854edf2f54a8007eb36f1732b4c064c857aaf268ae

pkgname = lib32-libxnvctrl
