pkgbase = pcsx2-git
	pkgdesc = A Sony PlayStation 2 emulator
	pkgver = 1.7.5688.r0.gb1f4f671
	pkgrel = 1
	url = https://www.pcsx2.net
	install = pcsx2-git.install
	arch = x86_64
	license = GPL2
	license = GPL3
	license = LGPL2.1
	license = LGPL3
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = git
	makedepends = ninja
	makedepends = libpulse
	makedepends = jack
	makedepends = sndio
	makedepends = libpipewire
	makedepends = p7zip
	makedepends = qt6-wayland
	makedepends = qt6-tools
	depends = libaio
	depends = libpcap
	depends = libglvnd
	depends = libxrandr
	depends = alsa-lib
	depends = ffmpeg
	depends = sdl2
	depends = lld
	depends = qt6-base
	depends = qt6-svg
	depends = soundtouch
	depends = wayland
	depends = libpng
	depends = hicolor-icon-theme
	depends = xcb-util-cursor
	optdepends = qt6-wayland: Wayland support
	optdepends = libpulse: Pulseaudio support
	optdepends = jack: Jack2 support
	optdepends = sndio: sndio support
	optdepends = libpipewire: Pipewire support
	provides = pcsx2
	conflicts = pcsx2
	options = !lto
	source = git+https://github.com/PCSX2/pcsx2.git
	source = git+https://github.com/PCSX2/pcsx2_patches.git
	source = pcsx2-qt.sh
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 5aeb01be2e9e77c26c4039b183ff2751f787350e274b1c1d1cead7491eabced556e3934502eaf4887e9b49581f515382f096b29e9daef6e9e94c443e2bc7e048

pkgname = pcsx2-git
