pkgbase = pcsx2-git
	pkgdesc = A Sony PlayStation 2 emulator
	pkgver = 2.3.71.r0.gc6d0f5e3cd
	pkgrel = 1
	url = https://www.pcsx2.net
	install = pcsx2-git.install
	arch = x86_64
	license = GPL-3.0+
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = git
	makedepends = ninja
	makedepends = libpulse
	makedepends = jack
	makedepends = sndio
	makedepends = libpipewire
	makedepends = p7zip
	makedepends = libjpeg-turbo
	makedepends = qt6-tools
	makedepends = qt6-wayland
	depends = libaio
	depends = libpcap
	depends = libglvnd
	depends = libxrandr
	depends = libbacktrace
	depends = alsa-lib
	depends = ffmpeg
	depends = sdl2
	depends = lld
	depends = shaderc
	depends = qt6-base
	depends = qt6-svg
	depends = soundtouch
	depends = wayland
	depends = libpng
	depends = hicolor-icon-theme
	depends = xcb-util-cursor
	optdepends = qt6-wayland: Wayland support
	optdepends = libpulse: Pulseaudio support
	optdepends = jack: Jack2 support
	optdepends = sndio: sndio support
	optdepends = libpipewire: Pipewire support
	provides = pcsx2
	conflicts = pcsx2
	options = !lto
	source = git+https://github.com/PCSX2/pcsx2.git
	source = git+https://github.com/PCSX2/pcsx2_patches.git
	b2sums = SKIP
	b2sums = SKIP

pkgname = pcsx2-git
