pkgbase = pidgin-opensteamworks
	pkgdesc = A plugin to connect to Steam Friends/Steam IM for libpurple/Pidgin/Adium.
	pkgver = 1.7.2.r0.g4274774
	pkgrel = 1
	url = https://github.com/EionRobb/pidgin-opensteamworks
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = nss
	makedepends = libgnome-keyring
	depends = libpurple
	depends = json-glib
	source = pidgin-opensteamworks::git+https://github.com/EionRobb/pidgin-opensteamworks.git
	sha512sums = SKIP

pkgname = pidgin-opensteamworks
