pkgbase = duckstation-git
	pkgdesc = A Sony PlayStation (PSX) emulator, focusing on playability, speed, and long-term maintainability (git version)
	pkgver = 0.1.r8059.g3670c13
	pkgrel = 1
	url = https://github.com/stenzek/duckstation
	arch = x86_64
	arch = aarch64
	license = CC-BY-NC-ND-4.0
	makedepends = git
	makedepends = cmake
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = extra-cmake-modules
	makedepends = ffmpeg
	makedepends = qt6-tools
	makedepends = qt6-wayland
	makedepends = libdrm
	makedepends = libpulse
	makedepends = alsa-lib
	makedepends = sndio
	makedepends = ninja
	makedepends = jack
	makedepends = python
	makedepends = spirv-headers
	depends = sh
	depends = glibc
	depends = gcc-libs
	depends = sdl3
	depends = qt6-base
	depends = libbacktrace.so
	depends = libwebp.so
	depends = libjpeg.so
	depends = libpng16.so
	depends = libxrandr
	depends = libx11
	depends = freetype2
	depends = libfreetype.so
	depends = libzstd.so
	depends = libz.so
	depends = libzip.so
	depends = libdbus-1.so
	depends = libcurl.so
	depends = systemd-libs
	depends = libudev.so
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = glslang
	depends = spirv-tools
	optdepends = libdrm
	optdepends = qt6-wayland: Wayland support
	optdepends = libpulse: Pulseaudio support
	optdepends = sndio: Small audio support
	optdepends = alsa-lib: ALSA support
	optdepends = jack: JACK support
	optdepends = ffmpeg: Video capture support
	provides = duckstation
	conflicts = duckstation
	noextract = cheats.zip
	noextract = patches.zip
	options = !lto
	source = git+https://github.com/stenzek/duckstation.git
	source = https://github.com/duckstation/chtdb/releases/download/latest/cheats.zip
	source = https://github.com/duckstation/chtdb/releases/download/latest/patches.zip
	source = duckstation-qt.sh
	sha256sums = SKIP
	sha256sums = 9585bffb977df310d401db1c0cf216f7591e83aa2822a59fb362efba25b8ec19
	sha256sums = 10ed13cc3d786310efb931d54502f9fc0295b29a3e51eb553523dd2297565a0e
	sha256sums = 5ded08b875d83afa70526f05d1c4381d8c2991a3224618639210fd2273ad00a7

pkgname = duckstation-git
