pkgbase = duckstation-git
	pkgdesc = A Sony PlayStation (PSX) emulator, focusing on playability, speed, and long-term maintainability (git version)
	pkgver = 0.1.r8059.g3670c13
	pkgrel = 1
	url = https://github.com/stenzek/duckstation
	arch = x86_64
	arch = aarch64
	license = CC-BY-NC-ND-4.0
	makedepends = git
	makedepends = cmake
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	makedepends = qt6-wayland
	makedepends = libdrm
	makedepends = libpulse
	makedepends = alsa-lib
	makedepends = sndio
	makedepends = ninja
	makedepends = jack
	makedepends = python
	makedepends = spirv-headers
	depends = sh
	depends = glibc
	depends = gcc-libs
	depends = sdl2
	depends = qt6-base
	depends = libwebp.so
	depends = libjpeg.so
	depends = libpng16.so
	depends = libxrandr
	depends = libx11
	depends = freetype2
	depends = libfreetype.so
	depends = libzip.so
	depends = libzstd.so
	depends = libz.so
	depends = libdbus-1.so
	depends = libcurl.so
	depends = systemd-libs
	depends = libudev.so
	depends = hicolor-icon-theme
	depends = ffmpeg
	depends = libglvnd
	depends = glslang
	depends = spirv-tools
	optdepends = libdrm
	optdepends = qt6-wayland: Wayland support
	optdepends = libpulse: Pulseaudio support
	optdepends = sndio: Small audio support
	optdepends = alsa-lib: ALSA support
	optdepends = jack: JACK support
	provides = duckstation
	conflicts = duckstation
	options = !lto
	source = git+https://github.com/stenzek/duckstation.git
	sha256sums = SKIP

pkgname = duckstation-git
