pkgbase = duckstation-git
	pkgdesc = A Sony PlayStation (PSX) emulator, focusing on playability, speed, and long-term maintainability (git version)
	pkgver = 0.1.r7016.g4221029
	pkgrel = 1
	url = https://github.com/stenzek/duckstation
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	license = Apache-2.0
	makedepends = git
	makedepends = cmake
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	makedepends = qt6-wayland
	makedepends = libdrm
	makedepends = libpulse
	makedepends = alsa-lib
	makedepends = sndio
	makedepends = ninja
	makedepends = jack
	makedepends = python
	makedepends = spirv-headers
	depends = sh
	depends = glibc
	depends = gcc-libs
	depends = sdl2
	depends = qt6-base
	depends = libwebp.so
	depends = libjpeg.so
	depends = libpng16.so
	depends = libxrandr
	depends = libx11
	depends = freetype2
	depends = libfreetype.so
	depends = libzstd.so
	depends = libz.so
	depends = libdbus-1.so
	depends = libcurl.so
	depends = systemd-libs
	depends = libudev.so
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = glslang
	depends = spirv-tools
	optdepends = libdrm
	optdepends = qt6-wayland: Wayland support
	optdepends = libpulse: Pulseaudio support
	optdepends = sndio: Small audio support
	optdepends = alsa-lib: ALSA support
	optdepends = jack: JACK support
	provides = duckstation
	conflicts = duckstation
	options = !lto
	source = git+https://github.com/stenzek/duckstation.git
	source = git+https://github.com/ianlancetaylor/libbacktrace.git#commit=ad106d5fdd5d960bd33fae1c48a351af567fd075
	source = git+https://github.com/google/shaderc.git#tag=v2024.1
	source = git+https://github.com/KhronosGroup/glslang.git#commit=142052fa30f9eca191aa9dcf65359fcaed09eeec
	source = git+https://github.com/KhronosGroup/SPIRV-Headers.git#commit=5e3ad389ee56fca27c9705d093ae5387ce404df4
	source = git+https://github.com/KhronosGroup/SPIRV-Tools.git#commit=dd4b663e13c07fea4fbb3f70c1c91c86731099f7
	source = git+https://github.com/KhronosGroup/SPIRV-Cross.git#tag=vulkan-sdk-1.3.283.0
	source = duckstation-qt.desktop
	source = duckstation-qt.sh
	sha256sums = SKIP
	sha256sums = 6463c6d54b99dddaa0f3da7a84926eb543672a4414dc2835bf35bb9eada9339f
	sha256sums = f1dbf3270fc21bf6871ae8693ddfb467ce142009d3371fd407512b956c25ace0
	sha256sums = be4a2494f139c3e04024d3bc5313a37a23ef901fb4d4dffa3a2ff9a5f2324709
	sha256sums = 852d1290d874546c9159fd349d42b4d314939f0ee4cb8601d26f7bf3910e9602
	sha256sums = eb945dda13bb15066447845308275c0261f901430ed9d0b32e86059c0ca4790a
	sha256sums = 9c2a148a1e4c7ca16ab54991980ed6393c1c21794081083f2779d880b3dbf1d4
	sha256sums = 51094e60b84873325cfe630fd7092d0db73e1c4ee94ccfc0806f742252a4009a
	sha256sums = 7b0a99c4e1463743cc9b9619472badd172d999081a92b3977486c5eaf458201e

pkgname = duckstation-git
