pkgbase = dissent
	pkgdesc = Discord client written in go and gtk4
	pkgver = 0.0.37
	pkgrel = 3
	url = https://github.com/diamondburned/dissent
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = git
	makedepends = go
	depends = cairo
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gobject-introspection
	depends = graphene
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libspelling
	depends = pango
	source = git+https://github.com/diamondburned/dissent#tag=v0.0.37
	sha256sums = 320cd5c176f727c6dd36de0ef2ae6df15a41dba4ef3045fb18b2694776fbec50

pkgname = dissent
