pkgbase = pi-hole-web
	pkgdesc = Pi-hole Dashboard for stats and more.
	pkgver = 6.0.2
	pkgrel = 1
	url = https://github.com/pi-hole/pi-hole
	install = pi-hole-web.install
	arch = any
	license = EUPL-1.2
	source = web-6.0.2.tar.gz::https://github.com/pi-hole/web/archive/refs/tags/v6.0.2.tar.gz
	source = https://raw.githubusercontent.com/max72bra/pi-hole-web-customization/main/arch-web-6.0.2-1.patch
	sha256sums = 705772ea91e73c441efaa18b4512af58647dba5309b2784cb674116b972af4d6
	sha256sums = 6fedbdd94cd3314c19bdf5a77a44aadddf684006e2f2fab4a77eae8a20c05801

pkgname = pi-hole-web
