pkgbase = winesync
	pkgdesc = Wine synchronization primitive driver
	pkgver = 5.16
	pkgrel = 8
	url = https://repo.or.cz/linux/zf.git/shortlog/refs/heads/winesync4
	arch = x86_64
	license = GPL2
	source = winesync.c-9ac10c6e711ec096274ecc676ae83a7cf2a1213f::https://repo.or.cz/linux/zf.git/blob_plain/9ac10c6e711ec096274ecc676ae83a7cf2a1213f:/drivers/misc/winesync.c
	source = winesync.h-9ac10c6e711ec096274ecc676ae83a7cf2a1213f::https://repo.or.cz/linux/zf.git/blob_plain/9ac10c6e711ec096274ecc676ae83a7cf2a1213f:/include/uapi/linux/winesync.h
	source = winesync.conf
	source = 99-winesync.rules
	source = Makefile
	source = dkms.conf
	sha256sums = 0da3cfeb8ab2f6b16083d92e7fa9a526a402802cd2a114d86a8a6947a42e8be8
	sha256sums = d21b36d59c6cd69190fe51b6e60505464053cf5450b05a1625bbfcf9b0f26620
	sha256sums = 609245bd67180eac14c3b2db71ecb161d3cf51e63ae317be8a053df73d5d6fc1
	sha256sums = 9b22d9976a83785e6a1cfc4a3aa230a8c5e4e903730bbafc598ec86bfaa35c3e
	sha256sums = 7d58c9ab1b577a3aa79ba4ba2051c905162b2266a4abec7cf04270099ebfeea5
	sha256sums = 118cb4912a7978e9cca3c14867080cbe2d4a4b610f02907bbee05865ef2bbfbb

pkgname = winesync-dkms
	pkgdesc = Wine synchronization primitive driver - out-of-tree module
	depends = dkms
	depends = winesync-common
	optdepends = winesync-header: Allow wine to be compiled with winesync support
	provides = WINESYNC-MODULE
	conflicts = winesync

pkgname = winesync-header
	pkgdesc = Wine synchronization primitive driver - linux api header file

pkgname = winesync-common
	pkgdesc = Wine synchronization primitive driver - common files
	provides = winesync-udev-rule
	conflicts = winesync-udev-rule
	replaces = winesync-udev-rule
