pkgbase = lib32-lapack
	pkgdesc = Linear Algebra PACKage (32-bit)
	pkgver = 3.12.0
	pkgrel = 1
	url = https://www.netlib.org/lapack
	arch = x86_64
	license = BSD-3-Clause
	makedepends = gcc-fortran
	makedepends = lib32-gcc-libs
	makedepends = cmake
	makedepends = python
	source = lapack-3.12.0.tar.gz::https://github.com/Reference-LAPACK/lapack/archive/v3.12.0.tar.gz
	sha256sums = eac9570f8e0ad6f30ce4b963f4f033f0f643e7c3912fc9ee6cd99120675ad48b

pkgname = lib32-lapack
	depends = lib32-blas
	depends = lapack

pkgname = lib32-blas
	pkgdesc = Basic Linear Algebra Subprograms (32-bit)
	depends = lib32-gcc-libs
	depends = blas

pkgname = lib32-cblas
	pkgdesc = C interface to BLAS (32-bit)
	depends = lib32-blas
	depends = cblas

pkgname = lib32-lapacke
	pkgdesc = C interface to LAPACK (32-bit)
	depends = lib32-lapack
	depends = lapacke
