pkgbase = gns3-gui
	pkgdesc = GNS3 network simulator. Graphical user interface package.
	pkgver = 2.2.51
	pkgrel = 1
	url = https://github.com/GNS3/gns3-gui
	arch = any
	groups = gns3
	license = GPL-3.0-only
	depends = desktop-file-utils
	depends = python-distro
	depends = python-jsonschema
	depends = python-psutil
	depends = python-pyqt5
	depends = python-pyqt5-sip
	depends = python-sentry_sdk
	depends = python-setuptools
	depends = python-truststore
	depends = qt5-svg
	depends = qt5-websockets
	optdepends = gns3-server: GNS3 backend. Manages emulators such as Dynamips, VirtualBox or Qemu/KVM
	optdepends = xterm: Default terminal emulator for CLI management of virtual instances
	optdepends = wireshark-qt: Live packet capture
	source = gns3-gui-2.2.51.tar.gz::https://github.com/GNS3/gns3-gui/archive/v2.2.51.tar.gz
	source = gns3.desktop
	source = fix_requirements_for_Arch.diff
	sha256sums = bebfd4a4859ee9d55faec93ed2210c3f3be76676881515d66c92b21e06613aa0
	sha256sums = 51e6db5b47e6af3d008d85e8c597755369fafb75ddb2af9e79a441f943f4c166
	sha256sums = fe3a83fb265b6ce17d420468997cba11e7ca2789cfb7949a35afb11b243172a2

pkgname = gns3-gui
