pkgbase = d8vk-mingw-git
	pkgdesc = Vulkan-based implementation of D3D8 and D3D9 based on DXVK for Linux / Wine, MingW version
	pkgver = 1.7.1.r2367.g1a039a47
	pkgrel = 1
	url = https://github.com/AlpyneDreams/d8vk
	arch = x86_64
	license = zlib/libpng
	makedepends = ninja
	makedepends = meson>=0.43
	makedepends = glslang
	makedepends = git
	makedepends = mingw-w64-gcc
	provides = d8vk
	provides = d8vk=1.7.1.r2367.g1a039a47
	conflicts = d8vk
	options = !lto
	options = !staticlibs
	source = git+https://github.com/AlpyneDreams/d8vk.git
	source = d8vk-extraopts.patch
	source = setup_d8vk.sh
	source = setup_d8vk
	sha256sums = SKIP
	sha256sums = bcc15521e4c7f966a0192a1dabb7fb4935b33db39344ab5b861f9d81486f1362
	sha256sums = 4fc47d60ab45f359edc226d1a77743f6b30c3590d9b99d4ada2df7f056991a8b
	sha256sums = be857d3d8765af0fdb97904af7cfbe98929de642df0dc7515739199d70df1f92

pkgname = d8vk-mingw-git
	depends = vulkan-icd-loader
	depends = lib32-vulkan-icd-loader
	depends = wine
	depends = bash
