pkgbase = llvm-mingw
	pkgdesc = A self-contained LLVM/Clang/LLD based mingw-w64 toolchain for i686 and x86_64 targets
	pkgver = 20.1.0+20250305
	pkgrel = 1
	url = https://github.com/mstorsjo/llvm-mingw
	arch = x86_64
	groups = mingw-w64-toolchain
	groups = mingw-w64
	license = LicenseRef-custom
	license = ZPL-2.1
	license = GPL-3.0
	license = GPL-3.0-with-GCC-exception
	license = GFDL-1.3-or-later
	license = Apache-2.0 WITH LLVM-exception
	license = custom:ISC
	makedepends = cmake>=3.20.0
	makedepends = ninja
	makedepends = python
	makedepends = git
	makedepends = libxml2
	makedepends = zlib
	makedepends = xz
	makedepends = swig
	makedepends = lua53
	makedepends = doxygen
	makedepends = perl
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = libffi
	depends = libedit
	depends = ncurses
	depends = libxml2
	depends = bash
	optdepends = wine: for running Windows executables
	provides = mingw-w64-gcc
	provides = mingw-w64-clang
	provides = mingw-w64-binutils
	provides = mingw-w64-tools
	provides = mingw-w64-crt
	provides = mingw-w64-headers
	provides = mingw-w64-winpthreads
	provides = mingw-w64-winstorecompat
	provides = llvm-mingw-w64-toolchain
	options = staticlibs
	options = !buildflags
	options = !emptydirs
	source = llvm-mingw-20250305.tar.gz::https://github.com/mstorsjo/llvm-mingw/archive/refs/tags/20250305.tar.gz
	source = llvm-project-20.1.0.tar.gz::https://github.com/llvm/llvm-project/archive/refs/tags/llvmorg-20.1.0.tar.gz
	source = mingw-w64-g2be9e0.tar.gz::https://github.com/mingw-w64/mingw-w64/archive/2be9e0f319990e48bfb0b2dd7b9e7045791b465f.tar.gz
	sha256sums = a4d1a78a6b84304942e2cea22a9510d32e4795dcc56a335d38901dacfc35be10
	sha256sums = 08bc382733777dda3c96259e3732ff96c1df98d0470c4f85b163274eae687f4f
	sha256sums = 728fa2f99a490e1ced14edc068e5cc0034ab08a8adc3c4f0318ba0746f9604c2

pkgname = llvm-mingw
