pkgbase = dolphin-emu-git
	pkgdesc = A Gamecube and Wii emulator
	pkgver = 2503.r204.4f210df86a
	pkgrel = 1
	epoch = 1
	url = https://dolphin-emu.org
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = git
	makedepends = libevdev
	makedepends = libminiupnpc.so
	makedepends = libpulse
	makedepends = libudev.so
	makedepends = ninja
	makedepends = python
	makedepends = qt6-base
	makedepends = qt6-svg
	depends = bluez-libs
	depends = bzip2
	depends = enet
	depends = gcc-libs
	depends = glibc
	depends = hidapi
	depends = libavcodec.so
	depends = libavformat.so
	depends = libavutil.so
	depends = libcurl.so
	depends = libgl
	depends = libspng.so
	depends = libswscale.so
	depends = libusb-1.0.so
	depends = libx11
	depends = libxi
	depends = libxrandr
	depends = lz4
	depends = lzo
	depends = mbedtls2
	depends = pugixml
	depends = sdl2
	depends = speexdsp
	depends = xxhash
	depends = xz
	depends = zstd
	optdepends = pulseaudio: PulseAudio backend
	options = !emptydirs
	options = !lto
	source = dolphin-emu::git+https://github.com/dolphin-emu/dolphin.git
	source = cmake-mgba.diff
	b2sums = SKIP
	b2sums = 442983a8887078ead6b503aa92f8d93a5d07e747792003775d15a4abe3e394a914e45abe25d00c39b7ad9a6d3f982af5d8a7055a15e95fa3b53d040b5167b217

pkgname = dolphin-emu-git
	depends = bluez-libs
	depends = bzip2
	depends = enet
	depends = gcc-libs
	depends = glibc
	depends = hidapi
	depends = libavcodec.so
	depends = libavformat.so
	depends = libavutil.so
	depends = libcurl.so
	depends = libgl
	depends = libspng.so
	depends = libswscale.so
	depends = libusb-1.0.so
	depends = libx11
	depends = libxi
	depends = libxrandr
	depends = lz4
	depends = lzo
	depends = mbedtls2
	depends = pugixml
	depends = sdl2
	depends = speexdsp
	depends = xxhash
	depends = xz
	depends = zstd
	depends = alsa-lib
	depends = hicolor-icon-theme
	depends = libevdev
	depends = libminiupnpc.so
	depends = libpulse
	depends = libudev.so
	depends = qt6-base
	depends = qt6-svg
	provides = dolphin-emu
	conflicts = dolphin-emu

pkgname = dolphin-emu-tool-git
	provides = dolphin-emu-tool
	conflicts = dolphin-emu-tool
