pkgbase = shaderc-non-semantic-debug
	pkgdesc = Collection of tools, libraries and tests for shader compilation with applied patches designed for use in pcsx2 and other emulators
	pkgver = 2024.1
	pkgrel = 1
	url = https://github.com/google/shaderc
	arch = x86_64
	license = Apache-2.0
	makedepends = asciidoctor
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	makedepends = spirv-headers
	depends = glibc
	depends = gcc-libs
	depends = glslang
	depends = spirv-tools
	provides = libshaderc_shared.so
	provides = shaderc
	conflicts = shaderc
	source = https://github.com/google/shaderc/archive/v2024.1/shaderc-2024.1.tar.gz
	source = https://github.com/KhronosGroup/glslang/archive/142052fa30f9eca191aa9dcf65359fcaed09eeec.tar.gz
	source = https://github.com/KhronosGroup/SPIRV-Headers/archive/5e3ad389ee56fca27c9705d093ae5387ce404df4.tar.gz
	source = https://github.com/KhronosGroup/SPIRV-Tools/archive/dd4b663e13c07fea4fbb3f70c1c91c86731099f7.tar.gz
	source = shaderc-changes.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 216575bd302a48a083a9864b21bb569be89c00921188fa8f6f2fac8c30189b75

pkgname = shaderc-non-semantic-debug
