pkgbase = conky
	pkgdesc = Light-weight system monitor for X, Wayland, and other things, too
	pkgver = 1.24.2
	pkgrel = 2
	url = https://github.com/brndnmtthws/conky
	arch = x86_64
	license = BSD-3-Clause
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = docbook2x
	makedepends = git
	makedepends = gperf
	makedepends = man-db
	makedepends = pandoc
	makedepends = python-jinja
	makedepends = python-yaml
	makedepends = wayland-protocols
	depends = cairo
	depends = curl
	depends = libcurl.so
	depends = fontconfig
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = hicolor-icon-theme
	depends = imlib2
	depends = libpulse
	depends = libpulse.so
	depends = librsvg
	depends = librsvg-2.so
	depends = libx11
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxft
	depends = libxi
	depends = libxinerama
	depends = libxml2
	depends = tolua++
	depends = libxnvctrl
	depends = libXNVCtrl.so
	depends = lua54
	depends = ncurses
	depends = libncursesw.so
	depends = pango
	depends = systemd-libs
	depends = libsystemd.so
	depends = wayland
	depends = wireless_tools
	source = git+https://github.com/brndnmtthws/conky.git#tag=v1.24.2?signed
	validpgpkeys = AF310802C8EFA20499CF3556137B7AC2BDFD8DF0
	sha512sums = 5915764c2b6fc43c8fc5a68c44b2832da1bb57e3d22a2b8d6826173f3037a14e020f56d1313a239eb1f3594ac8c997243c160b01a7ab2404e130dfc1bd43d1bc
	b2sums = 3181da11c85e0f502ffb87a75a3d714931af7b4caf141456b3b11e6a51109e5af9f8472081d6ce96f0f3bce611f89a87a66671e22b8a2a92e157cac7ee094576

pkgname = conky
