pkgbase = rpcs3-git
	pkgdesc = A Sony PlayStation 3 emulator
	pkgver = 0.0.29.r106.g8772219492
	pkgrel = 1
	url = https://github.com/RPCS3/rpcs3
	arch = x86_64
	license = GPL2
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = libglvnd
	makedepends = libpulse
	makedepends = jack
	makedepends = python
	makedepends = vulkan-validation-layers
	depends = alsa-lib
	depends = glew
	depends = glu
	depends = libavcodec.so
	depends = libavutil.so
	depends = libevdev
	depends = libgl
	depends = libice
	depends = libncursesw.so
	depends = libpng
	depends = libsm
	depends = libswscale.so
	depends = libx11
	depends = libxext
	depends = openal
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = qt6-svg
	depends = vulkan-icd-loader
	depends = zlib
	optdepends = libpulse
	optdepends = jack
	provides = rpcs3
	conflicts = rpcs3
	options = !emptydirs
	options = !lto
	source = git+https://github.com/RPCS3/rpcs3.git
	sha256sums = SKIP

pkgname = rpcs3-git
