pkgbase = duckstation-git
	pkgdesc = A Sony PlayStation (PSX) emulator, focusing on playability, speed, and long-term maintainability (git version)
	pkgver = r6051.3bbce19d
	pkgrel = 1
	url = https://github.com/stenzek/duckstation
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = extra-cmake-modules
	makedepends = qt6-wayland
	makedepends = qt6-tools
	makedepends = libdrm
	makedepends = libpulse
	makedepends = jack2
	makedepends = sndio
	makedepends = ninja
	depends = sdl2
	depends = qt6-base
	depends = alsa-lib
	depends = libxrandr
	depends = libglvnd
	depends = libx11
	depends = wayland
	depends = hicolor-icon-theme
	optdepends = libdrm
	optdepends = qt6-wayland
	optdepends = libpulse
	optdepends = sndio
	optdepends = jack2
	provides = duckstation
	conflicts = duckstation
	options = !lto
	source = git+https://github.com/stenzek/duckstation.git
	source = duckstation-qt.desktop
	source = duckstation-qt.sh
	sha256sums = SKIP
	sha256sums = 51094e60b84873325cfe630fd7092d0db73e1c4ee94ccfc0806f742252a4009a
	sha256sums = 8a535f22bf6b3b759044a9489a5d1a3111e6b37cd84924a6509f6a14cdaf16bb

pkgname = duckstation-git
