name: _job_pkgbuild

on:
  workflow_call:
    inputs:
      pkgdir:
        required: true
        type: string
      pacman_conf:
        required: true
        type: string
      makepkg_conf:
        required: true
        type: string
      makepkg_args:
        required: false
        type: string
      multilib:
        required: false
        type: boolean
        default: false
      ccache_ext:
        required: false
        type: boolean
        default: true
      release_tag:
        required: true
        type: string

jobs:
  pkgbuild:
    runs-on: archlinux:base-devel
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Restore cache
      id: ccache-restore
      uses: actions/cache/restore@v4
      with:
        path: ./.ccache
        key: ${{ github.workflow }}-${{ inputs.release_tag }}-${{ github.run_id }}
        restore-keys: |
          ${{ github.workflow }}-${{ inputs.release_tag }}

    - name: Install prerequisites
      run: |
        sudo pacman -Syu --noconfirm extra/github-cli

    - name: Run 'pkgbuild' action
      id: pkgbuild
      env:
        INPUT_PKGDIR: ${{ inputs.pkgdir }}
        INPUT_NAMCAPDISABLE: true
        INPUT_PACMANCONF: ${{ inputs.pacman_conf }}
        INPUT_MAKEPKGCONF: ${{ inputs.makepkg_conf }}
        INPUT_MAKEPKGARGS: ${{ inputs.makepkg_args }}
        INPUT_MULTILIB: ${{ inputs.multilib }}
        INPUT_USECCACHEEXT: ${{ inputs.ccache_ext }}
        INPUT_REPORELEASETAG: ${{ inputs.release_tag }}
      run: |
        ./.github/actions/entrypoint.sh

    - name: Save cache
      id: ccache-save
      if: always()
      uses: actions/cache/save@v4
      with:
        path: ./.ccache
        key: ${{ steps.ccache-restore.outputs.cache-primary-key }}

    - name: Print package files
      run: |
        echo "* Successfully built package archives"
        for file in ${{ join(fromJSON(steps.pkgbuild.outputs.pkgfiles), ' ') }}; do echo "    $file"; done
        echo "* Repository database files"
        for file in ${{ join(fromJSON(steps.pkgbuild.outputs.repofiles), ' ') }}; do echo "    $file"; done
        echo "* Removing package archives"
        for file in ${{ join(fromJSON(steps.pkgbuild.outputs.oldfiles), ' ') }}; do echo "    $file"; done

    - uses: ./.github/actions/assets-upload
      name: Upload new package artifacts
      with:
        release_tag: ${{ inputs.release_tag }}
        assets: ${{ steps.pkgbuild.outputs.pkgfiles }}

    - uses: ./.github/actions/assets-upload
      name: Upload repository database
      with:
        release_tag: ${{ inputs.release_tag }}
        assets: ${{ steps.pkgbuild.outputs.repofiles }}

    - uses: ./.github/actions/assets-delete
      name: Remove old package artifacts
      with:
        release_tag: ${{ inputs.release_tag }}
        assets: ${{ steps.pkgbuild.outputs.oldfiles }}
