name: arenatracker

on:
  workflow_dispatch:
  push:
    branches:
     - master
    paths:
     - public/arenatracker/.SRCINFO

jobs:
  repository:
    strategy:
      matrix:
        include:
          - repository: public
    uses: ./.github/workflows/job_pkgrepo.yml
    with:
      pkgdir: public/arenatracker
      repository: ${{ matrix.repository }}
