name: comictagger

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
     - master
    paths:
     - public/comictagger/.SRCINFO

jobs:
  repository:
    strategy:
      matrix:
        repository: [public]
    uses: ./.github/workflows/_job_pkgrepo.yml
    with:
      pkgdir: public/comictagger
      repository: ${{ matrix.repository }}
