name: dhewm3

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
     - master
    paths:
     - local/dhewm3/.SRCINFO

jobs:
  repository:
    strategy:
      matrix:
        repository: [public, personal]
    uses: ./.github/workflows/_job_pkgrepo.yml
    with:
      pkgdir: local/dhewm3
      repository: ${{ matrix.repository }}
      pkgbuild: PKGBUILD.vcs
