name: lib32-gsm

on:
  workflow_dispatch:
  push:
    branches:
     - master
    paths:
     - aur/lib32-gsm/.SRCINFO

jobs:
  public:
    uses: ./.github/workflows/job_pkgbuild.yml
    with:
      pkgdir: aur/lib32-gsm
      pacman_conf: .github/conf/public_pacman.conf
      makepkg_conf: .github/conf/public_makepkg.conf
      multilib: true
      release_tag: loathk-public
