name: lib32-mangohud-git

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
     - master
    paths:
     - local/lib32-mangohud-git/.SRCINFO

jobs:
  repository:
    strategy:
      matrix:
        repository: [public]
    uses: ./.github/workflows/_job_pkgrepo.yml
    with:
      pkgdir: local/lib32-mangohud-git
      repository: ${{ matrix.repository }}
      multilib: true
