
name: linux-zen-akasha

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Repository action"
        required: true
        type: choice
        default: 'build'
        options:
        - 'build'
        - 'remove'
        - 'skip'
  push:
    branches:
     - master
    paths:
     - local/linux-zen-akasha/.SRCINFO

jobs:
  repository:
    strategy:
      matrix:
        include:
          - repository: personal
            pkgbuild: PKGBUILD.llvm.lto
    uses: ./.github/workflows/job_pkgrepo.yml
    with:
      pkgdir: local/linux-zen-akasha
      repository: ${{ matrix.repository }}
      action: ${{ inputs.action != '' && inputs.action || 'build' }}
      pkgbuild: ${{ matrix.pkgbuild }}
