
name: linux-zen-elitebook

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      action:
        description: "Repository action"
        required: true
        type: choice
        default: 'build'
        options:
          - 'build'
          - 'remove'
          - 'skip'
  push:
    branches:
      - master
    paths:
      - local/linux-zen-elitebook/.SRCINFO

jobs:
  repository:
    strategy:
      matrix:
        include:
          - repository: personal
            pkgbuild: PKGBUILD
    uses: ./.github/workflows/_job_pkgrepo.yml
    with:
      pkgdir: local/linux-zen-elitebook
      repository: ${{ matrix.repository }}
      action: ${{ inputs.action != '' && inputs.action || 'build' }}
      pkgbuild: ${{ matrix.pkgbuild }}
