name: python-text2digits

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
     - master
    paths:
     - public/python-text2digits/.SRCINFO

jobs:
  public:
    uses: ./.github/workflows/_job_pkgbuild.yml
    with:
      pkgdir: public/python-text2digits
      pacman_conf: .github/conf/public_pacman.conf
      makepkg_conf: .github/conf/public_makepkg.conf
      release_tag: loathk-public
