name: rare

on:
  workflow_dispatch:
  push:
    branches:
     - master
    paths:
     - local/rare/.SRCINFO

jobs:
  repository:
    strategy:
      matrix:
        repository: [public]
    uses: ./.github/workflows/job_pkgrepo.yml
    with:
      pkgdir: local/rare
      repository: ${{ matrix.repository }}
