name: rbdoom-3-bfg

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
     - master
    paths:
     - public/rbdoom-3-bfg/.SRCINFO

jobs:
  repository:
    strategy:
      matrix:
        repository: [public, personal]
    uses: ./.github/workflows/_job_pkgrepo.yml
    with:
      pkgdir: public/rbdoom-3-bfg
      repository: ${{ matrix.repository }}
      pkgbuild: PKGBUILD.vcs
