pkgbase = lib32-gsm
	pkgdesc = Shared libraries for GSM 06.10 lossy speech compression
	pkgver = 1.0.23
	pkgrel = 1
	url = http://www.quut.com/gsm/
	arch = x86_64
	license = custom
	makedepends = lib32-gcc-libs
	depends = gsm
	depends = lib32-glibc
	source = http://www.quut.com/gsm/gsm-1.0.23.tar.gz
	source = gsm-shared.patch
	sha256sums = 8b7591a85ac9adce858f2053005e6b2eb20c23b8b8a868dffb2969645fa323c0
	sha256sums = a86b6e91b40fa2cef8bd6937d068c62202cd16dc48bdd81d1a57fbb43d434001

pkgname = lib32-gsm
